<div class="psr oh playbar-container">
  <div class="psa t0 l0 r0 b0 color-white x ttu psr z2">
    <div class="psr x c12 bb oh" data-playbar-master>
      <div class="psr c6 type-black color-blue-glow pl2 z3">
        <%- artist %>
      </div>
      <!-- <div class="psa t0 l0 b0 r0 z2 playbar-overlay"></div> -->
      <div class="bg-white blue-glow psa l0 b0 r0 oh dn z1 playbar-bg" data-playbar-position></div>
    </div>
  </div>
  <div class="pointer icon-refresh db psa p2 b0 mb1 r0 z2" style="height: 3rem; width: 3rem;" data-refresh>
    <svg class="svg-glow" width="100%" height="100%" viewBox="0 0 500 500" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g fill="#FFFFFF">
              <g transform="translate(3.000000, 0.000000)">
                  <path d="M247.602,90.021 C299.737,90.021 346.043,114.964 375.25,153.566 L319.603,210 L494,210 L494,33.134 L438.826,89.089 C392.986,34.648 324.347,0.036 247.602,0.036 C123.172,0.036 20.017,91 0.869,210 L92.67,210 C110.428,141 173.059,90.021 247.602,90.021 L247.602,90.021 Z"></path>
                  <path d="M247.602,409.979 C196.563,409.979 151.111,386.076 121.821,348.856 L180.6,290 L1,290 L1,469.836 L57.964,412.797 C103.793,466.155 171.744,499.964 247.602,499.964 C372.034,499.964 475.185,409 494.337,290 L402.536,290 C384.774,359 322.14,409.979 247.602,409.979 L247.602,409.979 Z"></path>
              </g>
          </g>
      </g>
    </svg>
  </div>
</div>