.c-5 { box-sizing: border-box; width: 4.16667%; }
.c1 { box-sizing: border-box; width: 8.33333%; }
.c2 { box-sizing: border-box; width: 16.66667%; }
.c3 { box-sizing: border-box; width: 25%; }
.c4 { box-sizing: border-box; width: 33.33333%; }
.c5 { box-sizing: border-box; width: 41.66667%; }
.c6 { box-sizing: border-box; width: 50%; }
.c7 { box-sizing: border-box; width: 58.33333%; }
.c8 { box-sizing: border-box; width: 66.66667%; }
.c9 { box-sizing: border-box; width: 75%; }
.c10 { box-sizing: border-box; width: 83.33333%; }
.c11 { box-sizing: border-box; width: 91.66667%; }
.c12 { box-sizing: border-box; width: 100%; }
.c11 .c11 { box-sizing: border-box; width: 100%; }
.c11 .c10 { box-sizing: border-box; width: 90.90909%; }
.c11 .c9 { box-sizing: border-box; width: 81.81818%; }
.c11 .c8 { box-sizing: border-box; width: 72.72727%; }
.c11 .c7 { box-sizing: border-box; width: 63.63636%; }
.c11 .c6 { box-sizing: border-box; width: 54.54545%; }
.c11 .c5 { box-sizing: border-box; width: 45.45455%; }
.c11 .c4 { box-sizing: border-box; width: 36.36364%; }
.c11 .c3 { box-sizing: border-box; width: 27.27273%; }
.c11 .c2 { box-sizing: border-box; width: 18.18182%; }
.c11 .c1 { box-sizing: border-box; width: 9.09091%; }
.c11 .c-5 { box-sizing: border-box; width: 4.54545%; }
.c10 .c10 { box-sizing: border-box; width: 100%; }
.c10 .c9 { box-sizing: border-box; width: 90%; }
.c10 .c8 { box-sizing: border-box; width: 80%; }
.c10 .c7 { box-sizing: border-box; width: 70%; }
.c10 .c6 { box-sizing: border-box; width: 60%; }
.c10 .c5 { box-sizing: border-box; width: 50%; }
.c10 .c4 { box-sizing: border-box; width: 40%; }
.c10 .c3 { box-sizing: border-box; width: 30%; }
.c10 .c2 { box-sizing: border-box; width: 20%; }
.c10 .c1 { box-sizing: border-box; width: 10%; }
.c10 .c-5 { box-sizing: border-box; width: 5%; }
.c9 .c9 { box-sizing: border-box; width: 100%; }
.c9 .c8 { box-sizing: border-box; width: 88.88889%; }
.c9 .c7 { box-sizing: border-box; width: 77.77778%; }
.c9 .c6 { box-sizing: border-box; width: 66.66667%; }
.c9 .c5 { box-sizing: border-box; width: 55.55556%; }
.c9 .c4 { box-sizing: border-box; width: 44.44444%; }
.c9 .c3 { box-sizing: border-box; width: 33.33333%; }
.c9 .c2 { box-sizing: border-box; width: 22.22222%; }
.c9 .c1 { box-sizing: border-box; width: 11.11111%; }
.c9 .c-5 { box-sizing: border-box; width: 5.55556%; }
.c8 .c8 { box-sizing: border-box; width: 100%; }
.c8 .c7 { box-sizing: border-box; width: 87.5%; }
.c8 .c6 { box-sizing: border-box; width: 75%; }
.c8 .c5 { box-sizing: border-box; width: 62.5%; }
.c8 .c4 { box-sizing: border-box; width: 50%; }
.c8 .c3 { box-sizing: border-box; width: 37.5%; }
.c8 .c2 { box-sizing: border-box; width: 25%; }
.c8 .c1 { box-sizing: border-box; width: 12.5%; }
.c8 .c-5 { box-sizing: border-box; width: 6.25%; }
.c7 .c7 { box-sizing: border-box; width: 100%; }
.c7 .c6 { box-sizing: border-box; width: 85.71429%; }
.c7 .c5 { box-sizing: border-box; width: 71.42857%; }
.c7 .c4 { box-sizing: border-box; width: 57.14286%; }
.c7 .c3 { box-sizing: border-box; width: 42.85714%; }
.c7 .c2 { box-sizing: border-box; width: 28.57143%; }
.c7 .c1 { box-sizing: border-box; width: 14.28571%; }
.c7 .c-5 { box-sizing: border-box; width: 7.14286%; }
.c6 .c6 { box-sizing: border-box; width: 100%; }
.c6 .c5 { box-sizing: border-box; width: 83.33333%; }
.c6 .c4 { box-sizing: border-box; width: 66.66667%; }
.c6 .c3 { box-sizing: border-box; width: 50%; }
.c6 .c2 { box-sizing: border-box; width: 33.33333%; }
.c6 .c1 { box-sizing: border-box; width: 16.66667%; }
.c6 .c-5 { box-sizing: border-box; width: 8.33333%; }
.c5 .c5 { box-sizing: border-box; width: 100%; }
.c5 .c4 { box-sizing: border-box; width: 80%; }
.c5 .c3 { box-sizing: border-box; width: 60%; }
.c5 .c2 { box-sizing: border-box; width: 40%; }
.c5 .c1 { box-sizing: border-box; width: 20%; }
.c5 .c-5 { box-sizing: border-box; width: 10%; }
.c4 .c4 { box-sizing: border-box; width: 100%; }
.c4 .c3 { box-sizing: border-box; width: 75%; }
.c4 .c2 { box-sizing: border-box; width: 50%; }
.c4 .c1 { box-sizing: border-box; width: 25%; }
.c4 .c-5 { box-sizing: border-box; width: 12.5%; }
.c3 .c3 { box-sizing: border-box; width: 100%; }
.c3 .c2 { box-sizing: border-box; width: 66.66667%; }
.c3 .c1 { box-sizing: border-box; width: 33.33333%; }
.c3 .c-5 { box-sizing: border-box; width: 16.66667%; }
.c2 .c2 { box-sizing: border-box; width: 100%; }
.c2 .c1 { box-sizing: border-box; width: 50%; }
.c2 .c-5 { box-sizing: border-box; width: 25%; }
.c1 .c1 { box-sizing: border-box; width: 100%; }
.c1 .c-5 { box-sizing: border-box; width: 50%; }
@media (max-width: 1439px) { [xl~="c-5"] { box-sizing: border-box; width: 4.16667%; }
  [xl~="c1"] { box-sizing: border-box; width: 8.33333%; }
  [xl~="c2"] { box-sizing: border-box; width: 16.66667%; }
  [xl~="c3"] { box-sizing: border-box; width: 25%; }
  [xl~="c4"] { box-sizing: border-box; width: 33.33333%; }
  [xl~="c5"] { box-sizing: border-box; width: 41.66667%; }
  [xl~="c6"] { box-sizing: border-box; width: 50%; }
  [xl~="c7"] { box-sizing: border-box; width: 58.33333%; }
  [xl~="c8"] { box-sizing: border-box; width: 66.66667%; }
  [xl~="c9"] { box-sizing: border-box; width: 75%; }
  [xl~="c10"] { box-sizing: border-box; width: 83.33333%; }
  [xl~="c11"] { box-sizing: border-box; width: 91.66667%; }
  [xl~="c12"] { box-sizing: border-box; width: 100%; }
  [xl~="c12"] [xl~="c12"] { box-sizing: border-box; width: 100%; }
  [xl~="c12"] [xl~="c11"] { box-sizing: border-box; width: 91.66667%; }
  [xl~="c12"] [xl~="c10"] { box-sizing: border-box; width: 83.33333%; }
  [xl~="c12"] [xl~="c9"] { box-sizing: border-box; width: 75%; }
  [xl~="c12"] [xl~="c8"] { box-sizing: border-box; width: 66.66667%; }
  [xl~="c12"] [xl~="c7"] { box-sizing: border-box; width: 58.33333%; }
  [xl~="c12"] [xl~="c6"] { box-sizing: border-box; width: 50%; }
  [xl~="c12"] [xl~="c5"] { box-sizing: border-box; width: 41.66667%; }
  [xl~="c12"] [xl~="c4"] { box-sizing: border-box; width: 33.33333%; }
  [xl~="c12"] [xl~="c3"] { box-sizing: border-box; width: 25%; }
  [xl~="c12"] [xl~="c2"] { box-sizing: border-box; width: 16.66667%; }
  [xl~="c12"] [xl~="c1"] { box-sizing: border-box; width: 8.33333%; }
  [xl~="c12"] [xl~="c-5"] { box-sizing: border-box; width: 4.16667%; }
  [xl~="c11"] [xl~="c11"] { box-sizing: border-box; width: 100%; }
  [xl~="c11"] [xl~="c10"] { box-sizing: border-box; width: 90.90909%; }
  [xl~="c11"] [xl~="c9"] { box-sizing: border-box; width: 81.81818%; }
  [xl~="c11"] [xl~="c8"] { box-sizing: border-box; width: 72.72727%; }
  [xl~="c11"] [xl~="c7"] { box-sizing: border-box; width: 63.63636%; }
  [xl~="c11"] [xl~="c6"] { box-sizing: border-box; width: 54.54545%; }
  [xl~="c11"] [xl~="c5"] { box-sizing: border-box; width: 45.45455%; }
  [xl~="c11"] [xl~="c4"] { box-sizing: border-box; width: 36.36364%; }
  [xl~="c11"] [xl~="c3"] { box-sizing: border-box; width: 27.27273%; }
  [xl~="c11"] [xl~="c2"] { box-sizing: border-box; width: 18.18182%; }
  [xl~="c11"] [xl~="c1"] { box-sizing: border-box; width: 9.09091%; }
  [xl~="c11"] [xl~="c-5"] { box-sizing: border-box; width: 4.54545%; }
  [xl~="c10"] [xl~="c10"] { box-sizing: border-box; width: 100%; }
  [xl~="c10"] [xl~="c9"] { box-sizing: border-box; width: 90%; }
  [xl~="c10"] [xl~="c8"] { box-sizing: border-box; width: 80%; }
  [xl~="c10"] [xl~="c7"] { box-sizing: border-box; width: 70%; }
  [xl~="c10"] [xl~="c6"] { box-sizing: border-box; width: 60%; }
  [xl~="c10"] [xl~="c5"] { box-sizing: border-box; width: 50%; }
  [xl~="c10"] [xl~="c4"] { box-sizing: border-box; width: 40%; }
  [xl~="c10"] [xl~="c3"] { box-sizing: border-box; width: 30%; }
  [xl~="c10"] [xl~="c2"] { box-sizing: border-box; width: 20%; }
  [xl~="c10"] [xl~="c1"] { box-sizing: border-box; width: 10%; }
  [xl~="c10"] [xl~="c-5"] { box-sizing: border-box; width: 5%; }
  [xl~="c9"] [xl~="c9"] { box-sizing: border-box; width: 100%; }
  [xl~="c9"] [xl~="c8"] { box-sizing: border-box; width: 88.88889%; }
  [xl~="c9"] [xl~="c7"] { box-sizing: border-box; width: 77.77778%; }
  [xl~="c9"] [xl~="c6"] { box-sizing: border-box; width: 66.66667%; }
  [xl~="c9"] [xl~="c5"] { box-sizing: border-box; width: 55.55556%; }
  [xl~="c9"] [xl~="c4"] { box-sizing: border-box; width: 44.44444%; }
  [xl~="c9"] [xl~="c3"] { box-sizing: border-box; width: 33.33333%; }
  [xl~="c9"] [xl~="c2"] { box-sizing: border-box; width: 22.22222%; }
  [xl~="c9"] [xl~="c1"] { box-sizing: border-box; width: 11.11111%; }
  [xl~="c9"] [xl~="c-5"] { box-sizing: border-box; width: 5.55556%; }
  [xl~="c8"] [xl~="c8"] { box-sizing: border-box; width: 100%; }
  [xl~="c8"] [xl~="c7"] { box-sizing: border-box; width: 87.5%; }
  [xl~="c8"] [xl~="c6"] { box-sizing: border-box; width: 75%; }
  [xl~="c8"] [xl~="c5"] { box-sizing: border-box; width: 62.5%; }
  [xl~="c8"] [xl~="c4"] { box-sizing: border-box; width: 50%; }
  [xl~="c8"] [xl~="c3"] { box-sizing: border-box; width: 37.5%; }
  [xl~="c8"] [xl~="c2"] { box-sizing: border-box; width: 25%; }
  [xl~="c8"] [xl~="c1"] { box-sizing: border-box; width: 12.5%; }
  [xl~="c8"] [xl~="c-5"] { box-sizing: border-box; width: 6.25%; }
  [xl~="c7"] [xl~="c7"] { box-sizing: border-box; width: 100%; }
  [xl~="c7"] [xl~="c6"] { box-sizing: border-box; width: 85.71429%; }
  [xl~="c7"] [xl~="c5"] { box-sizing: border-box; width: 71.42857%; }
  [xl~="c7"] [xl~="c4"] { box-sizing: border-box; width: 57.14286%; }
  [xl~="c7"] [xl~="c3"] { box-sizing: border-box; width: 42.85714%; }
  [xl~="c7"] [xl~="c2"] { box-sizing: border-box; width: 28.57143%; }
  [xl~="c7"] [xl~="c1"] { box-sizing: border-box; width: 14.28571%; }
  [xl~="c7"] [xl~="c-5"] { box-sizing: border-box; width: 7.14286%; }
  [xl~="c6"] [xl~="c6"] { box-sizing: border-box; width: 100%; }
  [xl~="c6"] [xl~="c5"] { box-sizing: border-box; width: 83.33333%; }
  [xl~="c6"] [xl~="c4"] { box-sizing: border-box; width: 66.66667%; }
  [xl~="c6"] [xl~="c3"] { box-sizing: border-box; width: 50%; }
  [xl~="c6"] [xl~="c2"] { box-sizing: border-box; width: 33.33333%; }
  [xl~="c6"] [xl~="c1"] { box-sizing: border-box; width: 16.66667%; }
  [xl~="c6"] [xl~="c-5"] { box-sizing: border-box; width: 8.33333%; }
  [xl~="c5"] [xl~="c5"] { box-sizing: border-box; width: 100%; }
  [xl~="c5"] [xl~="c4"] { box-sizing: border-box; width: 80%; }
  [xl~="c5"] [xl~="c3"] { box-sizing: border-box; width: 60%; }
  [xl~="c5"] [xl~="c2"] { box-sizing: border-box; width: 40%; }
  [xl~="c5"] [xl~="c1"] { box-sizing: border-box; width: 20%; }
  [xl~="c5"] [xl~="c-5"] { box-sizing: border-box; width: 10%; }
  [xl~="c4"] [xl~="c4"] { box-sizing: border-box; width: 100%; }
  [xl~="c4"] [xl~="c3"] { box-sizing: border-box; width: 75%; }
  [xl~="c4"] [xl~="c2"] { box-sizing: border-box; width: 50%; }
  [xl~="c4"] [xl~="c1"] { box-sizing: border-box; width: 25%; }
  [xl~="c4"] [xl~="c-5"] { box-sizing: border-box; width: 12.5%; }
  [xl~="c3"] [xl~="c3"] { box-sizing: border-box; width: 100%; }
  [xl~="c3"] [xl~="c2"] { box-sizing: border-box; width: 66.66667%; }
  [xl~="c3"] [xl~="c1"] { box-sizing: border-box; width: 33.33333%; }
  [xl~="c3"] [xl~="c-5"] { box-sizing: border-box; width: 16.66667%; }
  [xl~="c2"] [xl~="c2"] { box-sizing: border-box; width: 100%; }
  [xl~="c2"] [xl~="c1"] { box-sizing: border-box; width: 50%; }
  [xl~="c2"] [xl~="c-5"] { box-sizing: border-box; width: 25%; }
  [xl~="c1"] [xl~="c1"] { box-sizing: border-box; width: 100%; }
  [xl~="c1"] [xl~="c-5"] { box-sizing: border-box; width: 50%; } }
@media (max-width: 1260px) { [lg~="c-5"] { box-sizing: border-box; width: 4.16667%; }
  [lg~="c1"] { box-sizing: border-box; width: 8.33333%; }
  [lg~="c2"] { box-sizing: border-box; width: 16.66667%; }
  [lg~="c3"] { box-sizing: border-box; width: 25%; }
  [lg~="c4"] { box-sizing: border-box; width: 33.33333%; }
  [lg~="c5"] { box-sizing: border-box; width: 41.66667%; }
  [lg~="c6"] { box-sizing: border-box; width: 50%; }
  [lg~="c7"] { box-sizing: border-box; width: 58.33333%; }
  [lg~="c8"] { box-sizing: border-box; width: 66.66667%; }
  [lg~="c9"] { box-sizing: border-box; width: 75%; }
  [lg~="c10"] { box-sizing: border-box; width: 83.33333%; }
  [lg~="c11"] { box-sizing: border-box; width: 91.66667%; }
  [lg~="c12"] { box-sizing: border-box; width: 100%; }
  [lg~="c12"] [lg~="c12"] { box-sizing: border-box; width: 100%; }
  [lg~="c12"] [lg~="c11"] { box-sizing: border-box; width: 91.66667%; }
  [lg~="c12"] [lg~="c10"] { box-sizing: border-box; width: 83.33333%; }
  [lg~="c12"] [lg~="c9"] { box-sizing: border-box; width: 75%; }
  [lg~="c12"] [lg~="c8"] { box-sizing: border-box; width: 66.66667%; }
  [lg~="c12"] [lg~="c7"] { box-sizing: border-box; width: 58.33333%; }
  [lg~="c12"] [lg~="c6"] { box-sizing: border-box; width: 50%; }
  [lg~="c12"] [lg~="c5"] { box-sizing: border-box; width: 41.66667%; }
  [lg~="c12"] [lg~="c4"] { box-sizing: border-box; width: 33.33333%; }
  [lg~="c12"] [lg~="c3"] { box-sizing: border-box; width: 25%; }
  [lg~="c12"] [lg~="c2"] { box-sizing: border-box; width: 16.66667%; }
  [lg~="c12"] [lg~="c1"] { box-sizing: border-box; width: 8.33333%; }
  [lg~="c12"] [lg~="c-5"] { box-sizing: border-box; width: 4.16667%; }
  [lg~="c11"] [lg~="c11"] { box-sizing: border-box; width: 100%; }
  [lg~="c11"] [lg~="c10"] { box-sizing: border-box; width: 90.90909%; }
  [lg~="c11"] [lg~="c9"] { box-sizing: border-box; width: 81.81818%; }
  [lg~="c11"] [lg~="c8"] { box-sizing: border-box; width: 72.72727%; }
  [lg~="c11"] [lg~="c7"] { box-sizing: border-box; width: 63.63636%; }
  [lg~="c11"] [lg~="c6"] { box-sizing: border-box; width: 54.54545%; }
  [lg~="c11"] [lg~="c5"] { box-sizing: border-box; width: 45.45455%; }
  [lg~="c11"] [lg~="c4"] { box-sizing: border-box; width: 36.36364%; }
  [lg~="c11"] [lg~="c3"] { box-sizing: border-box; width: 27.27273%; }
  [lg~="c11"] [lg~="c2"] { box-sizing: border-box; width: 18.18182%; }
  [lg~="c11"] [lg~="c1"] { box-sizing: border-box; width: 9.09091%; }
  [lg~="c11"] [lg~="c-5"] { box-sizing: border-box; width: 4.54545%; }
  [lg~="c10"] [lg~="c10"] { box-sizing: border-box; width: 100%; }
  [lg~="c10"] [lg~="c9"] { box-sizing: border-box; width: 90%; }
  [lg~="c10"] [lg~="c8"] { box-sizing: border-box; width: 80%; }
  [lg~="c10"] [lg~="c7"] { box-sizing: border-box; width: 70%; }
  [lg~="c10"] [lg~="c6"] { box-sizing: border-box; width: 60%; }
  [lg~="c10"] [lg~="c5"] { box-sizing: border-box; width: 50%; }
  [lg~="c10"] [lg~="c4"] { box-sizing: border-box; width: 40%; }
  [lg~="c10"] [lg~="c3"] { box-sizing: border-box; width: 30%; }
  [lg~="c10"] [lg~="c2"] { box-sizing: border-box; width: 20%; }
  [lg~="c10"] [lg~="c1"] { box-sizing: border-box; width: 10%; }
  [lg~="c10"] [lg~="c-5"] { box-sizing: border-box; width: 5%; }
  [lg~="c9"] [lg~="c9"] { box-sizing: border-box; width: 100%; }
  [lg~="c9"] [lg~="c8"] { box-sizing: border-box; width: 88.88889%; }
  [lg~="c9"] [lg~="c7"] { box-sizing: border-box; width: 77.77778%; }
  [lg~="c9"] [lg~="c6"] { box-sizing: border-box; width: 66.66667%; }
  [lg~="c9"] [lg~="c5"] { box-sizing: border-box; width: 55.55556%; }
  [lg~="c9"] [lg~="c4"] { box-sizing: border-box; width: 44.44444%; }
  [lg~="c9"] [lg~="c3"] { box-sizing: border-box; width: 33.33333%; }
  [lg~="c9"] [lg~="c2"] { box-sizing: border-box; width: 22.22222%; }
  [lg~="c9"] [lg~="c1"] { box-sizing: border-box; width: 11.11111%; }
  [lg~="c9"] [lg~="c-5"] { box-sizing: border-box; width: 5.55556%; }
  [lg~="c8"] [lg~="c8"] { box-sizing: border-box; width: 100%; }
  [lg~="c8"] [lg~="c7"] { box-sizing: border-box; width: 87.5%; }
  [lg~="c8"] [lg~="c6"] { box-sizing: border-box; width: 75%; }
  [lg~="c8"] [lg~="c5"] { box-sizing: border-box; width: 62.5%; }
  [lg~="c8"] [lg~="c4"] { box-sizing: border-box; width: 50%; }
  [lg~="c8"] [lg~="c3"] { box-sizing: border-box; width: 37.5%; }
  [lg~="c8"] [lg~="c2"] { box-sizing: border-box; width: 25%; }
  [lg~="c8"] [lg~="c1"] { box-sizing: border-box; width: 12.5%; }
  [lg~="c8"] [lg~="c-5"] { box-sizing: border-box; width: 6.25%; }
  [lg~="c7"] [lg~="c7"] { box-sizing: border-box; width: 100%; }
  [lg~="c7"] [lg~="c6"] { box-sizing: border-box; width: 85.71429%; }
  [lg~="c7"] [lg~="c5"] { box-sizing: border-box; width: 71.42857%; }
  [lg~="c7"] [lg~="c4"] { box-sizing: border-box; width: 57.14286%; }
  [lg~="c7"] [lg~="c3"] { box-sizing: border-box; width: 42.85714%; }
  [lg~="c7"] [lg~="c2"] { box-sizing: border-box; width: 28.57143%; }
  [lg~="c7"] [lg~="c1"] { box-sizing: border-box; width: 14.28571%; }
  [lg~="c7"] [lg~="c-5"] { box-sizing: border-box; width: 7.14286%; }
  [lg~="c6"] [lg~="c6"] { box-sizing: border-box; width: 100%; }
  [lg~="c6"] [lg~="c5"] { box-sizing: border-box; width: 83.33333%; }
  [lg~="c6"] [lg~="c4"] { box-sizing: border-box; width: 66.66667%; }
  [lg~="c6"] [lg~="c3"] { box-sizing: border-box; width: 50%; }
  [lg~="c6"] [lg~="c2"] { box-sizing: border-box; width: 33.33333%; }
  [lg~="c6"] [lg~="c1"] { box-sizing: border-box; width: 16.66667%; }
  [lg~="c6"] [lg~="c-5"] { box-sizing: border-box; width: 8.33333%; }
  [lg~="c5"] [lg~="c5"] { box-sizing: border-box; width: 100%; }
  [lg~="c5"] [lg~="c4"] { box-sizing: border-box; width: 80%; }
  [lg~="c5"] [lg~="c3"] { box-sizing: border-box; width: 60%; }
  [lg~="c5"] [lg~="c2"] { box-sizing: border-box; width: 40%; }
  [lg~="c5"] [lg~="c1"] { box-sizing: border-box; width: 20%; }
  [lg~="c5"] [lg~="c-5"] { box-sizing: border-box; width: 10%; }
  [lg~="c4"] [lg~="c4"] { box-sizing: border-box; width: 100%; }
  [lg~="c4"] [lg~="c3"] { box-sizing: border-box; width: 75%; }
  [lg~="c4"] [lg~="c2"] { box-sizing: border-box; width: 50%; }
  [lg~="c4"] [lg~="c1"] { box-sizing: border-box; width: 25%; }
  [lg~="c4"] [lg~="c-5"] { box-sizing: border-box; width: 12.5%; }
  [lg~="c3"] [lg~="c3"] { box-sizing: border-box; width: 100%; }
  [lg~="c3"] [lg~="c2"] { box-sizing: border-box; width: 66.66667%; }
  [lg~="c3"] [lg~="c1"] { box-sizing: border-box; width: 33.33333%; }
  [lg~="c3"] [lg~="c-5"] { box-sizing: border-box; width: 16.66667%; }
  [lg~="c2"] [lg~="c2"] { box-sizing: border-box; width: 100%; }
  [lg~="c2"] [lg~="c1"] { box-sizing: border-box; width: 50%; }
  [lg~="c2"] [lg~="c-5"] { box-sizing: border-box; width: 25%; }
  [lg~="c1"] [lg~="c1"] { box-sizing: border-box; width: 100%; }
  [lg~="c1"] [lg~="c-5"] { box-sizing: border-box; width: 50%; } }
@media (max-width: 900px) { [md~="c-5"] { box-sizing: border-box; width: 4.16667%; }
  [md~="c1"] { box-sizing: border-box; width: 8.33333%; }
  [md~="c2"] { box-sizing: border-box; width: 16.66667%; }
  [md~="c3"] { box-sizing: border-box; width: 25%; }
  [md~="c4"] { box-sizing: border-box; width: 33.33333%; }
  [md~="c5"] { box-sizing: border-box; width: 41.66667%; }
  [md~="c6"] { box-sizing: border-box; width: 50%; }
  [md~="c7"] { box-sizing: border-box; width: 58.33333%; }
  [md~="c8"] { box-sizing: border-box; width: 66.66667%; }
  [md~="c9"] { box-sizing: border-box; width: 75%; }
  [md~="c10"] { box-sizing: border-box; width: 83.33333%; }
  [md~="c11"] { box-sizing: border-box; width: 91.66667%; }
  [md~="c12"] { box-sizing: border-box; width: 100%; }
  [md~="c12"] [md~="c12"] { box-sizing: border-box; width: 100%; }
  [md~="c12"] [md~="c11"] { box-sizing: border-box; width: 91.66667%; }
  [md~="c12"] [md~="c10"] { box-sizing: border-box; width: 83.33333%; }
  [md~="c12"] [md~="c9"] { box-sizing: border-box; width: 75%; }
  [md~="c12"] [md~="c8"] { box-sizing: border-box; width: 66.66667%; }
  [md~="c12"] [md~="c7"] { box-sizing: border-box; width: 58.33333%; }
  [md~="c12"] [md~="c6"] { box-sizing: border-box; width: 50%; }
  [md~="c12"] [md~="c5"] { box-sizing: border-box; width: 41.66667%; }
  [md~="c12"] [md~="c4"] { box-sizing: border-box; width: 33.33333%; }
  [md~="c12"] [md~="c3"] { box-sizing: border-box; width: 25%; }
  [md~="c12"] [md~="c2"] { box-sizing: border-box; width: 16.66667%; }
  [md~="c12"] [md~="c1"] { box-sizing: border-box; width: 8.33333%; }
  [md~="c12"] [md~="c-5"] { box-sizing: border-box; width: 4.16667%; }
  [md~="c11"] [md~="c11"] { box-sizing: border-box; width: 100%; }
  [md~="c11"] [md~="c10"] { box-sizing: border-box; width: 90.90909%; }
  [md~="c11"] [md~="c9"] { box-sizing: border-box; width: 81.81818%; }
  [md~="c11"] [md~="c8"] { box-sizing: border-box; width: 72.72727%; }
  [md~="c11"] [md~="c7"] { box-sizing: border-box; width: 63.63636%; }
  [md~="c11"] [md~="c6"] { box-sizing: border-box; width: 54.54545%; }
  [md~="c11"] [md~="c5"] { box-sizing: border-box; width: 45.45455%; }
  [md~="c11"] [md~="c4"] { box-sizing: border-box; width: 36.36364%; }
  [md~="c11"] [md~="c3"] { box-sizing: border-box; width: 27.27273%; }
  [md~="c11"] [md~="c2"] { box-sizing: border-box; width: 18.18182%; }
  [md~="c11"] [md~="c1"] { box-sizing: border-box; width: 9.09091%; }
  [md~="c11"] [md~="c-5"] { box-sizing: border-box; width: 4.54545%; }
  [md~="c10"] [md~="c10"] { box-sizing: border-box; width: 100%; }
  [md~="c10"] [md~="c9"] { box-sizing: border-box; width: 90%; }
  [md~="c10"] [md~="c8"] { box-sizing: border-box; width: 80%; }
  [md~="c10"] [md~="c7"] { box-sizing: border-box; width: 70%; }
  [md~="c10"] [md~="c6"] { box-sizing: border-box; width: 60%; }
  [md~="c10"] [md~="c5"] { box-sizing: border-box; width: 50%; }
  [md~="c10"] [md~="c4"] { box-sizing: border-box; width: 40%; }
  [md~="c10"] [md~="c3"] { box-sizing: border-box; width: 30%; }
  [md~="c10"] [md~="c2"] { box-sizing: border-box; width: 20%; }
  [md~="c10"] [md~="c1"] { box-sizing: border-box; width: 10%; }
  [md~="c10"] [md~="c-5"] { box-sizing: border-box; width: 5%; }
  [md~="c9"] [md~="c9"] { box-sizing: border-box; width: 100%; }
  [md~="c9"] [md~="c8"] { box-sizing: border-box; width: 88.88889%; }
  [md~="c9"] [md~="c7"] { box-sizing: border-box; width: 77.77778%; }
  [md~="c9"] [md~="c6"] { box-sizing: border-box; width: 66.66667%; }
  [md~="c9"] [md~="c5"] { box-sizing: border-box; width: 55.55556%; }
  [md~="c9"] [md~="c4"] { box-sizing: border-box; width: 44.44444%; }
  [md~="c9"] [md~="c3"] { box-sizing: border-box; width: 33.33333%; }
  [md~="c9"] [md~="c2"] { box-sizing: border-box; width: 22.22222%; }
  [md~="c9"] [md~="c1"] { box-sizing: border-box; width: 11.11111%; }
  [md~="c9"] [md~="c-5"] { box-sizing: border-box; width: 5.55556%; }
  [md~="c8"] [md~="c8"] { box-sizing: border-box; width: 100%; }
  [md~="c8"] [md~="c7"] { box-sizing: border-box; width: 87.5%; }
  [md~="c8"] [md~="c6"] { box-sizing: border-box; width: 75%; }
  [md~="c8"] [md~="c5"] { box-sizing: border-box; width: 62.5%; }
  [md~="c8"] [md~="c4"] { box-sizing: border-box; width: 50%; }
  [md~="c8"] [md~="c3"] { box-sizing: border-box; width: 37.5%; }
  [md~="c8"] [md~="c2"] { box-sizing: border-box; width: 25%; }
  [md~="c8"] [md~="c1"] { box-sizing: border-box; width: 12.5%; }
  [md~="c8"] [md~="c-5"] { box-sizing: border-box; width: 6.25%; }
  [md~="c7"] [md~="c7"] { box-sizing: border-box; width: 100%; }
  [md~="c7"] [md~="c6"] { box-sizing: border-box; width: 85.71429%; }
  [md~="c7"] [md~="c5"] { box-sizing: border-box; width: 71.42857%; }
  [md~="c7"] [md~="c4"] { box-sizing: border-box; width: 57.14286%; }
  [md~="c7"] [md~="c3"] { box-sizing: border-box; width: 42.85714%; }
  [md~="c7"] [md~="c2"] { box-sizing: border-box; width: 28.57143%; }
  [md~="c7"] [md~="c1"] { box-sizing: border-box; width: 14.28571%; }
  [md~="c7"] [md~="c-5"] { box-sizing: border-box; width: 7.14286%; }
  [md~="c6"] [md~="c6"] { box-sizing: border-box; width: 100%; }
  [md~="c6"] [md~="c5"] { box-sizing: border-box; width: 83.33333%; }
  [md~="c6"] [md~="c4"] { box-sizing: border-box; width: 66.66667%; }
  [md~="c6"] [md~="c3"] { box-sizing: border-box; width: 50%; }
  [md~="c6"] [md~="c2"] { box-sizing: border-box; width: 33.33333%; }
  [md~="c6"] [md~="c1"] { box-sizing: border-box; width: 16.66667%; }
  [md~="c6"] [md~="c-5"] { box-sizing: border-box; width: 8.33333%; }
  [md~="c5"] [md~="c5"] { box-sizing: border-box; width: 100%; }
  [md~="c5"] [md~="c4"] { box-sizing: border-box; width: 80%; }
  [md~="c5"] [md~="c3"] { box-sizing: border-box; width: 60%; }
  [md~="c5"] [md~="c2"] { box-sizing: border-box; width: 40%; }
  [md~="c5"] [md~="c1"] { box-sizing: border-box; width: 20%; }
  [md~="c5"] [md~="c-5"] { box-sizing: border-box; width: 10%; }
  [md~="c4"] [md~="c4"] { box-sizing: border-box; width: 100%; }
  [md~="c4"] [md~="c3"] { box-sizing: border-box; width: 75%; }
  [md~="c4"] [md~="c2"] { box-sizing: border-box; width: 50%; }
  [md~="c4"] [md~="c1"] { box-sizing: border-box; width: 25%; }
  [md~="c4"] [md~="c-5"] { box-sizing: border-box; width: 12.5%; }
  [md~="c3"] [md~="c3"] { box-sizing: border-box; width: 100%; }
  [md~="c3"] [md~="c2"] { box-sizing: border-box; width: 66.66667%; }
  [md~="c3"] [md~="c1"] { box-sizing: border-box; width: 33.33333%; }
  [md~="c3"] [md~="c-5"] { box-sizing: border-box; width: 16.66667%; }
  [md~="c2"] [md~="c2"] { box-sizing: border-box; width: 100%; }
  [md~="c2"] [md~="c1"] { box-sizing: border-box; width: 50%; }
  [md~="c2"] [md~="c-5"] { box-sizing: border-box; width: 25%; }
  [md~="c1"] [md~="c1"] { box-sizing: border-box; width: 100%; }
  [md~="c1"] [md~="c-5"] { box-sizing: border-box; width: 50%; } }
@media (max-width: 767px) { [sm~="c-5"] { box-sizing: border-box; width: 4.16667%; }
  [sm~="c1"] { box-sizing: border-box; width: 8.33333%; }
  [sm~="c2"] { box-sizing: border-box; width: 16.66667%; }
  [sm~="c3"] { box-sizing: border-box; width: 25%; }
  [sm~="c4"] { box-sizing: border-box; width: 33.33333%; }
  [sm~="c5"] { box-sizing: border-box; width: 41.66667%; }
  [sm~="c6"] { box-sizing: border-box; width: 50%; }
  [sm~="c7"] { box-sizing: border-box; width: 58.33333%; }
  [sm~="c8"] { box-sizing: border-box; width: 66.66667%; }
  [sm~="c9"] { box-sizing: border-box; width: 75%; }
  [sm~="c10"] { box-sizing: border-box; width: 83.33333%; }
  [sm~="c11"] { box-sizing: border-box; width: 91.66667%; }
  [sm~="c12"] { box-sizing: border-box; width: 100%; }
  [sm~="c12"] [sm~="c12"] { box-sizing: border-box; width: 100%; }
  [sm~="c12"] [sm~="c11"] { box-sizing: border-box; width: 91.66667%; }
  [sm~="c12"] [sm~="c10"] { box-sizing: border-box; width: 83.33333%; }
  [sm~="c12"] [sm~="c9"] { box-sizing: border-box; width: 75%; }
  [sm~="c12"] [sm~="c8"] { box-sizing: border-box; width: 66.66667%; }
  [sm~="c12"] [sm~="c7"] { box-sizing: border-box; width: 58.33333%; }
  [sm~="c12"] [sm~="c6"] { box-sizing: border-box; width: 50%; }
  [sm~="c12"] [sm~="c5"] { box-sizing: border-box; width: 41.66667%; }
  [sm~="c12"] [sm~="c4"] { box-sizing: border-box; width: 33.33333%; }
  [sm~="c12"] [sm~="c3"] { box-sizing: border-box; width: 25%; }
  [sm~="c12"] [sm~="c2"] { box-sizing: border-box; width: 16.66667%; }
  [sm~="c12"] [sm~="c1"] { box-sizing: border-box; width: 8.33333%; }
  [sm~="c12"] [sm~="c-5"] { box-sizing: border-box; width: 4.16667%; }
  [sm~="c11"] [sm~="c11"] { box-sizing: border-box; width: 100%; }
  [sm~="c11"] [sm~="c10"] { box-sizing: border-box; width: 90.90909%; }
  [sm~="c11"] [sm~="c9"] { box-sizing: border-box; width: 81.81818%; }
  [sm~="c11"] [sm~="c8"] { box-sizing: border-box; width: 72.72727%; }
  [sm~="c11"] [sm~="c7"] { box-sizing: border-box; width: 63.63636%; }
  [sm~="c11"] [sm~="c6"] { box-sizing: border-box; width: 54.54545%; }
  [sm~="c11"] [sm~="c5"] { box-sizing: border-box; width: 45.45455%; }
  [sm~="c11"] [sm~="c4"] { box-sizing: border-box; width: 36.36364%; }
  [sm~="c11"] [sm~="c3"] { box-sizing: border-box; width: 27.27273%; }
  [sm~="c11"] [sm~="c2"] { box-sizing: border-box; width: 18.18182%; }
  [sm~="c11"] [sm~="c1"] { box-sizing: border-box; width: 9.09091%; }
  [sm~="c11"] [sm~="c-5"] { box-sizing: border-box; width: 4.54545%; }
  [sm~="c10"] [sm~="c10"] { box-sizing: border-box; width: 100%; }
  [sm~="c10"] [sm~="c9"] { box-sizing: border-box; width: 90%; }
  [sm~="c10"] [sm~="c8"] { box-sizing: border-box; width: 80%; }
  [sm~="c10"] [sm~="c7"] { box-sizing: border-box; width: 70%; }
  [sm~="c10"] [sm~="c6"] { box-sizing: border-box; width: 60%; }
  [sm~="c10"] [sm~="c5"] { box-sizing: border-box; width: 50%; }
  [sm~="c10"] [sm~="c4"] { box-sizing: border-box; width: 40%; }
  [sm~="c10"] [sm~="c3"] { box-sizing: border-box; width: 30%; }
  [sm~="c10"] [sm~="c2"] { box-sizing: border-box; width: 20%; }
  [sm~="c10"] [sm~="c1"] { box-sizing: border-box; width: 10%; }
  [sm~="c10"] [sm~="c-5"] { box-sizing: border-box; width: 5%; }
  [sm~="c9"] [sm~="c9"] { box-sizing: border-box; width: 100%; }
  [sm~="c9"] [sm~="c8"] { box-sizing: border-box; width: 88.88889%; }
  [sm~="c9"] [sm~="c7"] { box-sizing: border-box; width: 77.77778%; }
  [sm~="c9"] [sm~="c6"] { box-sizing: border-box; width: 66.66667%; }
  [sm~="c9"] [sm~="c5"] { box-sizing: border-box; width: 55.55556%; }
  [sm~="c9"] [sm~="c4"] { box-sizing: border-box; width: 44.44444%; }
  [sm~="c9"] [sm~="c3"] { box-sizing: border-box; width: 33.33333%; }
  [sm~="c9"] [sm~="c2"] { box-sizing: border-box; width: 22.22222%; }
  [sm~="c9"] [sm~="c1"] { box-sizing: border-box; width: 11.11111%; }
  [sm~="c9"] [sm~="c-5"] { box-sizing: border-box; width: 5.55556%; }
  [sm~="c8"] [sm~="c8"] { box-sizing: border-box; width: 100%; }
  [sm~="c8"] [sm~="c7"] { box-sizing: border-box; width: 87.5%; }
  [sm~="c8"] [sm~="c6"] { box-sizing: border-box; width: 75%; }
  [sm~="c8"] [sm~="c5"] { box-sizing: border-box; width: 62.5%; }
  [sm~="c8"] [sm~="c4"] { box-sizing: border-box; width: 50%; }
  [sm~="c8"] [sm~="c3"] { box-sizing: border-box; width: 37.5%; }
  [sm~="c8"] [sm~="c2"] { box-sizing: border-box; width: 25%; }
  [sm~="c8"] [sm~="c1"] { box-sizing: border-box; width: 12.5%; }
  [sm~="c8"] [sm~="c-5"] { box-sizing: border-box; width: 6.25%; }
  [sm~="c7"] [sm~="c7"] { box-sizing: border-box; width: 100%; }
  [sm~="c7"] [sm~="c6"] { box-sizing: border-box; width: 85.71429%; }
  [sm~="c7"] [sm~="c5"] { box-sizing: border-box; width: 71.42857%; }
  [sm~="c7"] [sm~="c4"] { box-sizing: border-box; width: 57.14286%; }
  [sm~="c7"] [sm~="c3"] { box-sizing: border-box; width: 42.85714%; }
  [sm~="c7"] [sm~="c2"] { box-sizing: border-box; width: 28.57143%; }
  [sm~="c7"] [sm~="c1"] { box-sizing: border-box; width: 14.28571%; }
  [sm~="c7"] [sm~="c-5"] { box-sizing: border-box; width: 7.14286%; }
  [sm~="c6"] [sm~="c6"] { box-sizing: border-box; width: 100%; }
  [sm~="c6"] [sm~="c5"] { box-sizing: border-box; width: 83.33333%; }
  [sm~="c6"] [sm~="c4"] { box-sizing: border-box; width: 66.66667%; }
  [sm~="c6"] [sm~="c3"] { box-sizing: border-box; width: 50%; }
  [sm~="c6"] [sm~="c2"] { box-sizing: border-box; width: 33.33333%; }
  [sm~="c6"] [sm~="c1"] { box-sizing: border-box; width: 16.66667%; }
  [sm~="c6"] [sm~="c-5"] { box-sizing: border-box; width: 8.33333%; }
  [sm~="c5"] [sm~="c5"] { box-sizing: border-box; width: 100%; }
  [sm~="c5"] [sm~="c4"] { box-sizing: border-box; width: 80%; }
  [sm~="c5"] [sm~="c3"] { box-sizing: border-box; width: 60%; }
  [sm~="c5"] [sm~="c2"] { box-sizing: border-box; width: 40%; }
  [sm~="c5"] [sm~="c1"] { box-sizing: border-box; width: 20%; }
  [sm~="c5"] [sm~="c-5"] { box-sizing: border-box; width: 10%; }
  [sm~="c4"] [sm~="c4"] { box-sizing: border-box; width: 100%; }
  [sm~="c4"] [sm~="c3"] { box-sizing: border-box; width: 75%; }
  [sm~="c4"] [sm~="c2"] { box-sizing: border-box; width: 50%; }
  [sm~="c4"] [sm~="c1"] { box-sizing: border-box; width: 25%; }
  [sm~="c4"] [sm~="c-5"] { box-sizing: border-box; width: 12.5%; }
  [sm~="c3"] [sm~="c3"] { box-sizing: border-box; width: 100%; }
  [sm~="c3"] [sm~="c2"] { box-sizing: border-box; width: 66.66667%; }
  [sm~="c3"] [sm~="c1"] { box-sizing: border-box; width: 33.33333%; }
  [sm~="c3"] [sm~="c-5"] { box-sizing: border-box; width: 16.66667%; }
  [sm~="c2"] [sm~="c2"] { box-sizing: border-box; width: 100%; }
  [sm~="c2"] [sm~="c1"] { box-sizing: border-box; width: 50%; }
  [sm~="c2"] [sm~="c-5"] { box-sizing: border-box; width: 25%; }
  [sm~="c1"] [sm~="c1"] { box-sizing: border-box; width: 100%; }
  [sm~="c1"] [sm~="c-5"] { box-sizing: border-box; width: 50%; } }
.co0 { margin-left: 0; }
.co-5 { margin-left: 4.16667%; }
.co1 { margin-left: 8.33333%; }
.co2 { margin-left: 16.66667%; }
.co3 { margin-left: 25%; }
.co4 { margin-left: 33.33333%; }
.co5 { margin-left: 41.66667%; }
.co6 { margin-left: 50%; }
.co7 { margin-left: 58.33333%; }
.co8 { margin-left: 66.66667%; }
.co9 { margin-left: 75%; }
.co10 { margin-left: 83.33333%; }
.co11 { margin-left: 91.66667%; }
.co12 { margin-left: 100%; }
.c11 .co11 { margin-left: 100%; }
.c11 .co10 { margin-left: 90.90909%; }
.c11 .co9 { margin-left: 81.81818%; }
.c11 .co8 { margin-left: 72.72727%; }
.c11 .co7 { margin-left: 63.63636%; }
.c11 .co6 { margin-left: 54.54545%; }
.c11 .co5 { margin-left: 45.45455%; }
.c11 .co4 { margin-left: 36.36364%; }
.c11 .co3 { margin-left: 27.27273%; }
.c11 .co2 { margin-left: 18.18182%; }
.c11 .co1 { margin-left: 9.09091%; }
.c11 .co-5 { margin-left: 4.54545%; }
.c10 .co10 { margin-left: 100%; }
.c10 .co9 { margin-left: 90%; }
.c10 .co8 { margin-left: 80%; }
.c10 .co7 { margin-left: 70%; }
.c10 .co6 { margin-left: 60%; }
.c10 .co5 { margin-left: 50%; }
.c10 .co4 { margin-left: 40%; }
.c10 .co3 { margin-left: 30%; }
.c10 .co2 { margin-left: 20%; }
.c10 .co1 { margin-left: 10%; }
.c10 .co-5 { margin-left: 5%; }
.c9 .co9 { margin-left: 100%; }
.c9 .co8 { margin-left: 88.88889%; }
.c9 .co7 { margin-left: 77.77778%; }
.c9 .co6 { margin-left: 66.66667%; }
.c9 .co5 { margin-left: 55.55556%; }
.c9 .co4 { margin-left: 44.44444%; }
.c9 .co3 { margin-left: 33.33333%; }
.c9 .co2 { margin-left: 22.22222%; }
.c9 .co1 { margin-left: 11.11111%; }
.c9 .co-5 { margin-left: 5.55556%; }
.c8 .co8 { margin-left: 100%; }
.c8 .co7 { margin-left: 87.5%; }
.c8 .co6 { margin-left: 75%; }
.c8 .co5 { margin-left: 62.5%; }
.c8 .co4 { margin-left: 50%; }
.c8 .co3 { margin-left: 37.5%; }
.c8 .co2 { margin-left: 25%; }
.c8 .co1 { margin-left: 12.5%; }
.c8 .co-5 { margin-left: 6.25%; }
.c7 .co7 { margin-left: 100%; }
.c7 .co6 { margin-left: 85.71429%; }
.c7 .co5 { margin-left: 71.42857%; }
.c7 .co4 { margin-left: 57.14286%; }
.c7 .co3 { margin-left: 42.85714%; }
.c7 .co2 { margin-left: 28.57143%; }
.c7 .co1 { margin-left: 14.28571%; }
.c7 .co-5 { margin-left: 7.14286%; }
.c6 .co6 { margin-left: 100%; }
.c6 .co5 { margin-left: 83.33333%; }
.c6 .co4 { margin-left: 66.66667%; }
.c6 .co3 { margin-left: 50%; }
.c6 .co2 { margin-left: 33.33333%; }
.c6 .co1 { margin-left: 16.66667%; }
.c6 .co-5 { margin-left: 8.33333%; }
.c5 .co5 { margin-left: 100%; }
.c5 .co4 { margin-left: 80%; }
.c5 .co3 { margin-left: 60%; }
.c5 .co2 { margin-left: 40%; }
.c5 .co1 { margin-left: 20%; }
.c5 .co-5 { margin-left: 10%; }
.c4 .co4 { margin-left: 100%; }
.c4 .co3 { margin-left: 75%; }
.c4 .co2 { margin-left: 50%; }
.c4 .co1 { margin-left: 25%; }
.c4 .co-5 { margin-left: 12.5%; }
.c3 .co3 { margin-left: 100%; }
.c3 .co2 { margin-left: 66.66667%; }
.c3 .co1 { margin-left: 33.33333%; }
.c3 .co-5 { margin-left: 16.66667%; }
.c2 .co2 { margin-left: 100%; }
.c2 .co1 { margin-left: 50%; }
.c2 .co-5 { margin-left: 25%; }
.c1 .co1 { margin-left: 100%; }
.c1 .co-5 { margin-left: 50%; }
@media (max-width: 1439px) { [xl~="co0"] { margin-left: 0; }
  [xl~="co-5"] { margin-left: 4.16667%; }
  [xl~="co1"] { margin-left: 8.33333%; }
  [xl~="co2"] { margin-left: 16.66667%; }
  [xl~="co3"] { margin-left: 25%; }
  [xl~="co4"] { margin-left: 33.33333%; }
  [xl~="co5"] { margin-left: 41.66667%; }
  [xl~="co6"] { margin-left: 50%; }
  [xl~="co7"] { margin-left: 58.33333%; }
  [xl~="co8"] { margin-left: 66.66667%; }
  [xl~="co9"] { margin-left: 75%; }
  [xl~="co10"] { margin-left: 83.33333%; }
  [xl~="co11"] { margin-left: 91.66667%; }
  [xl~="co12"] { margin-left: 100%; }
  [xl="c12"] [xl="co12"] { margin-left: 100%; }
  [xl="c12"] [xl="co11"] { margin-left: 91.66667%; }
  [xl="c12"] [xl="co10"] { margin-left: 83.33333%; }
  [xl="c12"] [xl="co9"] { margin-left: 75%; }
  [xl="c12"] [xl="co8"] { margin-left: 66.66667%; }
  [xl="c12"] [xl="co7"] { margin-left: 58.33333%; }
  [xl="c12"] [xl="co6"] { margin-left: 50%; }
  [xl="c12"] [xl="co5"] { margin-left: 41.66667%; }
  [xl="c12"] [xl="co4"] { margin-left: 33.33333%; }
  [xl="c12"] [xl="co3"] { margin-left: 25%; }
  [xl="c12"] [xl="co2"] { margin-left: 16.66667%; }
  [xl="c12"] [xl="co1"] { margin-left: 8.33333%; }
  [xl="c12"] [xl="co-5"] { margin-left: 4.16667%; }
  [xl="c11"] [xl="co11"] { margin-left: 100%; }
  [xl="c11"] [xl="co10"] { margin-left: 90.90909%; }
  [xl="c11"] [xl="co9"] { margin-left: 81.81818%; }
  [xl="c11"] [xl="co8"] { margin-left: 72.72727%; }
  [xl="c11"] [xl="co7"] { margin-left: 63.63636%; }
  [xl="c11"] [xl="co6"] { margin-left: 54.54545%; }
  [xl="c11"] [xl="co5"] { margin-left: 45.45455%; }
  [xl="c11"] [xl="co4"] { margin-left: 36.36364%; }
  [xl="c11"] [xl="co3"] { margin-left: 27.27273%; }
  [xl="c11"] [xl="co2"] { margin-left: 18.18182%; }
  [xl="c11"] [xl="co1"] { margin-left: 9.09091%; }
  [xl="c11"] [xl="co-5"] { margin-left: 4.54545%; }
  [xl="c10"] [xl="co10"] { margin-left: 100%; }
  [xl="c10"] [xl="co9"] { margin-left: 90%; }
  [xl="c10"] [xl="co8"] { margin-left: 80%; }
  [xl="c10"] [xl="co7"] { margin-left: 70%; }
  [xl="c10"] [xl="co6"] { margin-left: 60%; }
  [xl="c10"] [xl="co5"] { margin-left: 50%; }
  [xl="c10"] [xl="co4"] { margin-left: 40%; }
  [xl="c10"] [xl="co3"] { margin-left: 30%; }
  [xl="c10"] [xl="co2"] { margin-left: 20%; }
  [xl="c10"] [xl="co1"] { margin-left: 10%; }
  [xl="c10"] [xl="co-5"] { margin-left: 5%; }
  [xl="c9"] [xl="co9"] { margin-left: 100%; }
  [xl="c9"] [xl="co8"] { margin-left: 88.88889%; }
  [xl="c9"] [xl="co7"] { margin-left: 77.77778%; }
  [xl="c9"] [xl="co6"] { margin-left: 66.66667%; }
  [xl="c9"] [xl="co5"] { margin-left: 55.55556%; }
  [xl="c9"] [xl="co4"] { margin-left: 44.44444%; }
  [xl="c9"] [xl="co3"] { margin-left: 33.33333%; }
  [xl="c9"] [xl="co2"] { margin-left: 22.22222%; }
  [xl="c9"] [xl="co1"] { margin-left: 11.11111%; }
  [xl="c9"] [xl="co-5"] { margin-left: 5.55556%; }
  [xl="c8"] [xl="co8"] { margin-left: 100%; }
  [xl="c8"] [xl="co7"] { margin-left: 87.5%; }
  [xl="c8"] [xl="co6"] { margin-left: 75%; }
  [xl="c8"] [xl="co5"] { margin-left: 62.5%; }
  [xl="c8"] [xl="co4"] { margin-left: 50%; }
  [xl="c8"] [xl="co3"] { margin-left: 37.5%; }
  [xl="c8"] [xl="co2"] { margin-left: 25%; }
  [xl="c8"] [xl="co1"] { margin-left: 12.5%; }
  [xl="c8"] [xl="co-5"] { margin-left: 6.25%; }
  [xl="c7"] [xl="co7"] { margin-left: 100%; }
  [xl="c7"] [xl="co6"] { margin-left: 85.71429%; }
  [xl="c7"] [xl="co5"] { margin-left: 71.42857%; }
  [xl="c7"] [xl="co4"] { margin-left: 57.14286%; }
  [xl="c7"] [xl="co3"] { margin-left: 42.85714%; }
  [xl="c7"] [xl="co2"] { margin-left: 28.57143%; }
  [xl="c7"] [xl="co1"] { margin-left: 14.28571%; }
  [xl="c7"] [xl="co-5"] { margin-left: 7.14286%; }
  [xl="c6"] [xl="co6"] { margin-left: 100%; }
  [xl="c6"] [xl="co5"] { margin-left: 83.33333%; }
  [xl="c6"] [xl="co4"] { margin-left: 66.66667%; }
  [xl="c6"] [xl="co3"] { margin-left: 50%; }
  [xl="c6"] [xl="co2"] { margin-left: 33.33333%; }
  [xl="c6"] [xl="co1"] { margin-left: 16.66667%; }
  [xl="c6"] [xl="co-5"] { margin-left: 8.33333%; }
  [xl="c5"] [xl="co5"] { margin-left: 100%; }
  [xl="c5"] [xl="co4"] { margin-left: 80%; }
  [xl="c5"] [xl="co3"] { margin-left: 60%; }
  [xl="c5"] [xl="co2"] { margin-left: 40%; }
  [xl="c5"] [xl="co1"] { margin-left: 20%; }
  [xl="c5"] [xl="co-5"] { margin-left: 10%; }
  [xl="c4"] [xl="co4"] { margin-left: 100%; }
  [xl="c4"] [xl="co3"] { margin-left: 75%; }
  [xl="c4"] [xl="co2"] { margin-left: 50%; }
  [xl="c4"] [xl="co1"] { margin-left: 25%; }
  [xl="c4"] [xl="co-5"] { margin-left: 12.5%; }
  [xl="c3"] [xl="co3"] { margin-left: 100%; }
  [xl="c3"] [xl="co2"] { margin-left: 66.66667%; }
  [xl="c3"] [xl="co1"] { margin-left: 33.33333%; }
  [xl="c3"] [xl="co-5"] { margin-left: 16.66667%; }
  [xl="c2"] [xl="co2"] { margin-left: 100%; }
  [xl="c2"] [xl="co1"] { margin-left: 50%; }
  [xl="c2"] [xl="co-5"] { margin-left: 25%; }
  [xl="c1"] [xl="co1"] { margin-left: 100%; }
  [xl="c1"] [xl="co-5"] { margin-left: 50%; } }
@media (max-width: 1260px) { [lg~="co0"] { margin-left: 0; }
  [lg~="co-5"] { margin-left: 4.16667%; }
  [lg~="co1"] { margin-left: 8.33333%; }
  [lg~="co2"] { margin-left: 16.66667%; }
  [lg~="co3"] { margin-left: 25%; }
  [lg~="co4"] { margin-left: 33.33333%; }
  [lg~="co5"] { margin-left: 41.66667%; }
  [lg~="co6"] { margin-left: 50%; }
  [lg~="co7"] { margin-left: 58.33333%; }
  [lg~="co8"] { margin-left: 66.66667%; }
  [lg~="co9"] { margin-left: 75%; }
  [lg~="co10"] { margin-left: 83.33333%; }
  [lg~="co11"] { margin-left: 91.66667%; }
  [lg~="co12"] { margin-left: 100%; }
  [lg="c12"] [lg="co12"] { margin-left: 100%; }
  [lg="c12"] [lg="co11"] { margin-left: 91.66667%; }
  [lg="c12"] [lg="co10"] { margin-left: 83.33333%; }
  [lg="c12"] [lg="co9"] { margin-left: 75%; }
  [lg="c12"] [lg="co8"] { margin-left: 66.66667%; }
  [lg="c12"] [lg="co7"] { margin-left: 58.33333%; }
  [lg="c12"] [lg="co6"] { margin-left: 50%; }
  [lg="c12"] [lg="co5"] { margin-left: 41.66667%; }
  [lg="c12"] [lg="co4"] { margin-left: 33.33333%; }
  [lg="c12"] [lg="co3"] { margin-left: 25%; }
  [lg="c12"] [lg="co2"] { margin-left: 16.66667%; }
  [lg="c12"] [lg="co1"] { margin-left: 8.33333%; }
  [lg="c12"] [lg="co-5"] { margin-left: 4.16667%; }
  [lg="c11"] [lg="co11"] { margin-left: 100%; }
  [lg="c11"] [lg="co10"] { margin-left: 90.90909%; }
  [lg="c11"] [lg="co9"] { margin-left: 81.81818%; }
  [lg="c11"] [lg="co8"] { margin-left: 72.72727%; }
  [lg="c11"] [lg="co7"] { margin-left: 63.63636%; }
  [lg="c11"] [lg="co6"] { margin-left: 54.54545%; }
  [lg="c11"] [lg="co5"] { margin-left: 45.45455%; }
  [lg="c11"] [lg="co4"] { margin-left: 36.36364%; }
  [lg="c11"] [lg="co3"] { margin-left: 27.27273%; }
  [lg="c11"] [lg="co2"] { margin-left: 18.18182%; }
  [lg="c11"] [lg="co1"] { margin-left: 9.09091%; }
  [lg="c11"] [lg="co-5"] { margin-left: 4.54545%; }
  [lg="c10"] [lg="co10"] { margin-left: 100%; }
  [lg="c10"] [lg="co9"] { margin-left: 90%; }
  [lg="c10"] [lg="co8"] { margin-left: 80%; }
  [lg="c10"] [lg="co7"] { margin-left: 70%; }
  [lg="c10"] [lg="co6"] { margin-left: 60%; }
  [lg="c10"] [lg="co5"] { margin-left: 50%; }
  [lg="c10"] [lg="co4"] { margin-left: 40%; }
  [lg="c10"] [lg="co3"] { margin-left: 30%; }
  [lg="c10"] [lg="co2"] { margin-left: 20%; }
  [lg="c10"] [lg="co1"] { margin-left: 10%; }
  [lg="c10"] [lg="co-5"] { margin-left: 5%; }
  [lg="c9"] [lg="co9"] { margin-left: 100%; }
  [lg="c9"] [lg="co8"] { margin-left: 88.88889%; }
  [lg="c9"] [lg="co7"] { margin-left: 77.77778%; }
  [lg="c9"] [lg="co6"] { margin-left: 66.66667%; }
  [lg="c9"] [lg="co5"] { margin-left: 55.55556%; }
  [lg="c9"] [lg="co4"] { margin-left: 44.44444%; }
  [lg="c9"] [lg="co3"] { margin-left: 33.33333%; }
  [lg="c9"] [lg="co2"] { margin-left: 22.22222%; }
  [lg="c9"] [lg="co1"] { margin-left: 11.11111%; }
  [lg="c9"] [lg="co-5"] { margin-left: 5.55556%; }
  [lg="c8"] [lg="co8"] { margin-left: 100%; }
  [lg="c8"] [lg="co7"] { margin-left: 87.5%; }
  [lg="c8"] [lg="co6"] { margin-left: 75%; }
  [lg="c8"] [lg="co5"] { margin-left: 62.5%; }
  [lg="c8"] [lg="co4"] { margin-left: 50%; }
  [lg="c8"] [lg="co3"] { margin-left: 37.5%; }
  [lg="c8"] [lg="co2"] { margin-left: 25%; }
  [lg="c8"] [lg="co1"] { margin-left: 12.5%; }
  [lg="c8"] [lg="co-5"] { margin-left: 6.25%; }
  [lg="c7"] [lg="co7"] { margin-left: 100%; }
  [lg="c7"] [lg="co6"] { margin-left: 85.71429%; }
  [lg="c7"] [lg="co5"] { margin-left: 71.42857%; }
  [lg="c7"] [lg="co4"] { margin-left: 57.14286%; }
  [lg="c7"] [lg="co3"] { margin-left: 42.85714%; }
  [lg="c7"] [lg="co2"] { margin-left: 28.57143%; }
  [lg="c7"] [lg="co1"] { margin-left: 14.28571%; }
  [lg="c7"] [lg="co-5"] { margin-left: 7.14286%; }
  [lg="c6"] [lg="co6"] { margin-left: 100%; }
  [lg="c6"] [lg="co5"] { margin-left: 83.33333%; }
  [lg="c6"] [lg="co4"] { margin-left: 66.66667%; }
  [lg="c6"] [lg="co3"] { margin-left: 50%; }
  [lg="c6"] [lg="co2"] { margin-left: 33.33333%; }
  [lg="c6"] [lg="co1"] { margin-left: 16.66667%; }
  [lg="c6"] [lg="co-5"] { margin-left: 8.33333%; }
  [lg="c5"] [lg="co5"] { margin-left: 100%; }
  [lg="c5"] [lg="co4"] { margin-left: 80%; }
  [lg="c5"] [lg="co3"] { margin-left: 60%; }
  [lg="c5"] [lg="co2"] { margin-left: 40%; }
  [lg="c5"] [lg="co1"] { margin-left: 20%; }
  [lg="c5"] [lg="co-5"] { margin-left: 10%; }
  [lg="c4"] [lg="co4"] { margin-left: 100%; }
  [lg="c4"] [lg="co3"] { margin-left: 75%; }
  [lg="c4"] [lg="co2"] { margin-left: 50%; }
  [lg="c4"] [lg="co1"] { margin-left: 25%; }
  [lg="c4"] [lg="co-5"] { margin-left: 12.5%; }
  [lg="c3"] [lg="co3"] { margin-left: 100%; }
  [lg="c3"] [lg="co2"] { margin-left: 66.66667%; }
  [lg="c3"] [lg="co1"] { margin-left: 33.33333%; }
  [lg="c3"] [lg="co-5"] { margin-left: 16.66667%; }
  [lg="c2"] [lg="co2"] { margin-left: 100%; }
  [lg="c2"] [lg="co1"] { margin-left: 50%; }
  [lg="c2"] [lg="co-5"] { margin-left: 25%; }
  [lg="c1"] [lg="co1"] { margin-left: 100%; }
  [lg="c1"] [lg="co-5"] { margin-left: 50%; } }
@media (max-width: 900px) { [md~="co0"] { margin-left: 0; }
  [md~="co-5"] { margin-left: 4.16667%; }
  [md~="co1"] { margin-left: 8.33333%; }
  [md~="co2"] { margin-left: 16.66667%; }
  [md~="co3"] { margin-left: 25%; }
  [md~="co4"] { margin-left: 33.33333%; }
  [md~="co5"] { margin-left: 41.66667%; }
  [md~="co6"] { margin-left: 50%; }
  [md~="co7"] { margin-left: 58.33333%; }
  [md~="co8"] { margin-left: 66.66667%; }
  [md~="co9"] { margin-left: 75%; }
  [md~="co10"] { margin-left: 83.33333%; }
  [md~="co11"] { margin-left: 91.66667%; }
  [md~="co12"] { margin-left: 100%; }
  [md="c12"] [md="co12"] { margin-left: 100%; }
  [md="c12"] [md="co11"] { margin-left: 91.66667%; }
  [md="c12"] [md="co10"] { margin-left: 83.33333%; }
  [md="c12"] [md="co9"] { margin-left: 75%; }
  [md="c12"] [md="co8"] { margin-left: 66.66667%; }
  [md="c12"] [md="co7"] { margin-left: 58.33333%; }
  [md="c12"] [md="co6"] { margin-left: 50%; }
  [md="c12"] [md="co5"] { margin-left: 41.66667%; }
  [md="c12"] [md="co4"] { margin-left: 33.33333%; }
  [md="c12"] [md="co3"] { margin-left: 25%; }
  [md="c12"] [md="co2"] { margin-left: 16.66667%; }
  [md="c12"] [md="co1"] { margin-left: 8.33333%; }
  [md="c12"] [md="co-5"] { margin-left: 4.16667%; }
  [md="c11"] [md="co11"] { margin-left: 100%; }
  [md="c11"] [md="co10"] { margin-left: 90.90909%; }
  [md="c11"] [md="co9"] { margin-left: 81.81818%; }
  [md="c11"] [md="co8"] { margin-left: 72.72727%; }
  [md="c11"] [md="co7"] { margin-left: 63.63636%; }
  [md="c11"] [md="co6"] { margin-left: 54.54545%; }
  [md="c11"] [md="co5"] { margin-left: 45.45455%; }
  [md="c11"] [md="co4"] { margin-left: 36.36364%; }
  [md="c11"] [md="co3"] { margin-left: 27.27273%; }
  [md="c11"] [md="co2"] { margin-left: 18.18182%; }
  [md="c11"] [md="co1"] { margin-left: 9.09091%; }
  [md="c11"] [md="co-5"] { margin-left: 4.54545%; }
  [md="c10"] [md="co10"] { margin-left: 100%; }
  [md="c10"] [md="co9"] { margin-left: 90%; }
  [md="c10"] [md="co8"] { margin-left: 80%; }
  [md="c10"] [md="co7"] { margin-left: 70%; }
  [md="c10"] [md="co6"] { margin-left: 60%; }
  [md="c10"] [md="co5"] { margin-left: 50%; }
  [md="c10"] [md="co4"] { margin-left: 40%; }
  [md="c10"] [md="co3"] { margin-left: 30%; }
  [md="c10"] [md="co2"] { margin-left: 20%; }
  [md="c10"] [md="co1"] { margin-left: 10%; }
  [md="c10"] [md="co-5"] { margin-left: 5%; }
  [md="c9"] [md="co9"] { margin-left: 100%; }
  [md="c9"] [md="co8"] { margin-left: 88.88889%; }
  [md="c9"] [md="co7"] { margin-left: 77.77778%; }
  [md="c9"] [md="co6"] { margin-left: 66.66667%; }
  [md="c9"] [md="co5"] { margin-left: 55.55556%; }
  [md="c9"] [md="co4"] { margin-left: 44.44444%; }
  [md="c9"] [md="co3"] { margin-left: 33.33333%; }
  [md="c9"] [md="co2"] { margin-left: 22.22222%; }
  [md="c9"] [md="co1"] { margin-left: 11.11111%; }
  [md="c9"] [md="co-5"] { margin-left: 5.55556%; }
  [md="c8"] [md="co8"] { margin-left: 100%; }
  [md="c8"] [md="co7"] { margin-left: 87.5%; }
  [md="c8"] [md="co6"] { margin-left: 75%; }
  [md="c8"] [md="co5"] { margin-left: 62.5%; }
  [md="c8"] [md="co4"] { margin-left: 50%; }
  [md="c8"] [md="co3"] { margin-left: 37.5%; }
  [md="c8"] [md="co2"] { margin-left: 25%; }
  [md="c8"] [md="co1"] { margin-left: 12.5%; }
  [md="c8"] [md="co-5"] { margin-left: 6.25%; }
  [md="c7"] [md="co7"] { margin-left: 100%; }
  [md="c7"] [md="co6"] { margin-left: 85.71429%; }
  [md="c7"] [md="co5"] { margin-left: 71.42857%; }
  [md="c7"] [md="co4"] { margin-left: 57.14286%; }
  [md="c7"] [md="co3"] { margin-left: 42.85714%; }
  [md="c7"] [md="co2"] { margin-left: 28.57143%; }
  [md="c7"] [md="co1"] { margin-left: 14.28571%; }
  [md="c7"] [md="co-5"] { margin-left: 7.14286%; }
  [md="c6"] [md="co6"] { margin-left: 100%; }
  [md="c6"] [md="co5"] { margin-left: 83.33333%; }
  [md="c6"] [md="co4"] { margin-left: 66.66667%; }
  [md="c6"] [md="co3"] { margin-left: 50%; }
  [md="c6"] [md="co2"] { margin-left: 33.33333%; }
  [md="c6"] [md="co1"] { margin-left: 16.66667%; }
  [md="c6"] [md="co-5"] { margin-left: 8.33333%; }
  [md="c5"] [md="co5"] { margin-left: 100%; }
  [md="c5"] [md="co4"] { margin-left: 80%; }
  [md="c5"] [md="co3"] { margin-left: 60%; }
  [md="c5"] [md="co2"] { margin-left: 40%; }
  [md="c5"] [md="co1"] { margin-left: 20%; }
  [md="c5"] [md="co-5"] { margin-left: 10%; }
  [md="c4"] [md="co4"] { margin-left: 100%; }
  [md="c4"] [md="co3"] { margin-left: 75%; }
  [md="c4"] [md="co2"] { margin-left: 50%; }
  [md="c4"] [md="co1"] { margin-left: 25%; }
  [md="c4"] [md="co-5"] { margin-left: 12.5%; }
  [md="c3"] [md="co3"] { margin-left: 100%; }
  [md="c3"] [md="co2"] { margin-left: 66.66667%; }
  [md="c3"] [md="co1"] { margin-left: 33.33333%; }
  [md="c3"] [md="co-5"] { margin-left: 16.66667%; }
  [md="c2"] [md="co2"] { margin-left: 100%; }
  [md="c2"] [md="co1"] { margin-left: 50%; }
  [md="c2"] [md="co-5"] { margin-left: 25%; }
  [md="c1"] [md="co1"] { margin-left: 100%; }
  [md="c1"] [md="co-5"] { margin-left: 50%; } }
@media (max-width: 767px) { [sm~="co0"] { margin-left: 0; }
  [sm~="co-5"] { margin-left: 4.16667%; }
  [sm~="co1"] { margin-left: 8.33333%; }
  [sm~="co2"] { margin-left: 16.66667%; }
  [sm~="co3"] { margin-left: 25%; }
  [sm~="co4"] { margin-left: 33.33333%; }
  [sm~="co5"] { margin-left: 41.66667%; }
  [sm~="co6"] { margin-left: 50%; }
  [sm~="co7"] { margin-left: 58.33333%; }
  [sm~="co8"] { margin-left: 66.66667%; }
  [sm~="co9"] { margin-left: 75%; }
  [sm~="co10"] { margin-left: 83.33333%; }
  [sm~="co11"] { margin-left: 91.66667%; }
  [sm~="co12"] { margin-left: 100%; }
  [sm="c12"] [sm="co12"] { margin-left: 100%; }
  [sm="c12"] [sm="co11"] { margin-left: 91.66667%; }
  [sm="c12"] [sm="co10"] { margin-left: 83.33333%; }
  [sm="c12"] [sm="co9"] { margin-left: 75%; }
  [sm="c12"] [sm="co8"] { margin-left: 66.66667%; }
  [sm="c12"] [sm="co7"] { margin-left: 58.33333%; }
  [sm="c12"] [sm="co6"] { margin-left: 50%; }
  [sm="c12"] [sm="co5"] { margin-left: 41.66667%; }
  [sm="c12"] [sm="co4"] { margin-left: 33.33333%; }
  [sm="c12"] [sm="co3"] { margin-left: 25%; }
  [sm="c12"] [sm="co2"] { margin-left: 16.66667%; }
  [sm="c12"] [sm="co1"] { margin-left: 8.33333%; }
  [sm="c12"] [sm="co-5"] { margin-left: 4.16667%; }
  [sm="c11"] [sm="co11"] { margin-left: 100%; }
  [sm="c11"] [sm="co10"] { margin-left: 90.90909%; }
  [sm="c11"] [sm="co9"] { margin-left: 81.81818%; }
  [sm="c11"] [sm="co8"] { margin-left: 72.72727%; }
  [sm="c11"] [sm="co7"] { margin-left: 63.63636%; }
  [sm="c11"] [sm="co6"] { margin-left: 54.54545%; }
  [sm="c11"] [sm="co5"] { margin-left: 45.45455%; }
  [sm="c11"] [sm="co4"] { margin-left: 36.36364%; }
  [sm="c11"] [sm="co3"] { margin-left: 27.27273%; }
  [sm="c11"] [sm="co2"] { margin-left: 18.18182%; }
  [sm="c11"] [sm="co1"] { margin-left: 9.09091%; }
  [sm="c11"] [sm="co-5"] { margin-left: 4.54545%; }
  [sm="c10"] [sm="co10"] { margin-left: 100%; }
  [sm="c10"] [sm="co9"] { margin-left: 90%; }
  [sm="c10"] [sm="co8"] { margin-left: 80%; }
  [sm="c10"] [sm="co7"] { margin-left: 70%; }
  [sm="c10"] [sm="co6"] { margin-left: 60%; }
  [sm="c10"] [sm="co5"] { margin-left: 50%; }
  [sm="c10"] [sm="co4"] { margin-left: 40%; }
  [sm="c10"] [sm="co3"] { margin-left: 30%; }
  [sm="c10"] [sm="co2"] { margin-left: 20%; }
  [sm="c10"] [sm="co1"] { margin-left: 10%; }
  [sm="c10"] [sm="co-5"] { margin-left: 5%; }
  [sm="c9"] [sm="co9"] { margin-left: 100%; }
  [sm="c9"] [sm="co8"] { margin-left: 88.88889%; }
  [sm="c9"] [sm="co7"] { margin-left: 77.77778%; }
  [sm="c9"] [sm="co6"] { margin-left: 66.66667%; }
  [sm="c9"] [sm="co5"] { margin-left: 55.55556%; }
  [sm="c9"] [sm="co4"] { margin-left: 44.44444%; }
  [sm="c9"] [sm="co3"] { margin-left: 33.33333%; }
  [sm="c9"] [sm="co2"] { margin-left: 22.22222%; }
  [sm="c9"] [sm="co1"] { margin-left: 11.11111%; }
  [sm="c9"] [sm="co-5"] { margin-left: 5.55556%; }
  [sm="c8"] [sm="co8"] { margin-left: 100%; }
  [sm="c8"] [sm="co7"] { margin-left: 87.5%; }
  [sm="c8"] [sm="co6"] { margin-left: 75%; }
  [sm="c8"] [sm="co5"] { margin-left: 62.5%; }
  [sm="c8"] [sm="co4"] { margin-left: 50%; }
  [sm="c8"] [sm="co3"] { margin-left: 37.5%; }
  [sm="c8"] [sm="co2"] { margin-left: 25%; }
  [sm="c8"] [sm="co1"] { margin-left: 12.5%; }
  [sm="c8"] [sm="co-5"] { margin-left: 6.25%; }
  [sm="c7"] [sm="co7"] { margin-left: 100%; }
  [sm="c7"] [sm="co6"] { margin-left: 85.71429%; }
  [sm="c7"] [sm="co5"] { margin-left: 71.42857%; }
  [sm="c7"] [sm="co4"] { margin-left: 57.14286%; }
  [sm="c7"] [sm="co3"] { margin-left: 42.85714%; }
  [sm="c7"] [sm="co2"] { margin-left: 28.57143%; }
  [sm="c7"] [sm="co1"] { margin-left: 14.28571%; }
  [sm="c7"] [sm="co-5"] { margin-left: 7.14286%; }
  [sm="c6"] [sm="co6"] { margin-left: 100%; }
  [sm="c6"] [sm="co5"] { margin-left: 83.33333%; }
  [sm="c6"] [sm="co4"] { margin-left: 66.66667%; }
  [sm="c6"] [sm="co3"] { margin-left: 50%; }
  [sm="c6"] [sm="co2"] { margin-left: 33.33333%; }
  [sm="c6"] [sm="co1"] { margin-left: 16.66667%; }
  [sm="c6"] [sm="co-5"] { margin-left: 8.33333%; }
  [sm="c5"] [sm="co5"] { margin-left: 100%; }
  [sm="c5"] [sm="co4"] { margin-left: 80%; }
  [sm="c5"] [sm="co3"] { margin-left: 60%; }
  [sm="c5"] [sm="co2"] { margin-left: 40%; }
  [sm="c5"] [sm="co1"] { margin-left: 20%; }
  [sm="c5"] [sm="co-5"] { margin-left: 10%; }
  [sm="c4"] [sm="co4"] { margin-left: 100%; }
  [sm="c4"] [sm="co3"] { margin-left: 75%; }
  [sm="c4"] [sm="co2"] { margin-left: 50%; }
  [sm="c4"] [sm="co1"] { margin-left: 25%; }
  [sm="c4"] [sm="co-5"] { margin-left: 12.5%; }
  [sm="c3"] [sm="co3"] { margin-left: 100%; }
  [sm="c3"] [sm="co2"] { margin-left: 66.66667%; }
  [sm="c3"] [sm="co1"] { margin-left: 33.33333%; }
  [sm="c3"] [sm="co-5"] { margin-left: 16.66667%; }
  [sm="c2"] [sm="co2"] { margin-left: 100%; }
  [sm="c2"] [sm="co1"] { margin-left: 50%; }
  [sm="c2"] [sm="co-5"] { margin-left: 25%; }
  [sm="c1"] [sm="co1"] { margin-left: 100%; }
  [sm="c1"] [sm="co-5"] { margin-left: 50%; } }
.g { padding: 1rem; }
.gl { padding-left: 1rem; }
.gr { padding-right: 1rem; }
.gt { padding-top: 1rem; }
.gb { padding-bottom: 1rem; }
.gx { padding-left: 1rem; padding-right: 1rem; }
.gy { padding-top: 1rem; padding-bottom: 1rem; }
.p0 { padding: 0; }
.pt0 { padding-top: 0; }
.pr0 { padding-right: 0; }
.pb0 { padding-bottom: 0; }
.pl0 { padding-left: 0; }
.px0 { padding-left: 0; padding-right: 0; }
.py0 { padding-top: 0; padding-bottom: 0; }
.p1 { padding: 0.5rem; }
.pt1 { padding-top: 0.5rem; }
.pr1 { padding-right: 0.5rem; }
.pb1 { padding-bottom: 0.5rem; }
.pl1 { padding-left: 0.5rem; }
.px1 { padding-left: 0.5rem; padding-right: 0.5rem; }
.py1 { padding-top: 0.5rem; padding-bottom: 0.5rem; }
.p2 { padding: 1rem; }
.pt2 { padding-top: 1rem; }
.pr2 { padding-right: 1rem; }
.pb2 { padding-bottom: 1rem; }
.pl2 { padding-left: 1rem; }
.px2 { padding-left: 1rem; padding-right: 1rem; }
.py2 { padding-top: 1rem; padding-bottom: 1rem; }
@media (max-width: 1439px) { [xl~="p0"] { padding: 0; }
  [xl~="pt0"] { padding-top: 0; }
  [xl~="pr0"] { padding-right: 0; }
  [xl~="pb0"] { padding-bottom: 0; }
  [xl~="pl0"] { padding-left: 0; }
  [xl~="px0"] { padding-left: 0; padding-right: 0; }
  [xl~="py0"] { padding-top: 0; padding-bottom: 0; }
  [xl~="p1"] { padding: 0.5rem; }
  [xl~="pt1"] { padding-top: 0.5rem; }
  [xl~="pr1"] { padding-right: 0.5rem; }
  [xl~="pb1"] { padding-bottom: 0.5rem; }
  [xl~="pl1"] { padding-left: 0.5rem; }
  [xl~="px1"] { padding-left: 0.5rem; padding-right: 0.5rem; }
  [xl~="py1"] { padding-top: 0.5rem; padding-bottom: 0.5rem; }
  [xl~="p2"] { padding: 1rem; }
  [xl~="pt2"] { padding-top: 1rem; }
  [xl~="pr2"] { padding-right: 1rem; }
  [xl~="pb2"] { padding-bottom: 1rem; }
  [xl~="pl2"] { padding-left: 1rem; }
  [xl~="px2"] { padding-left: 1rem; padding-right: 1rem; }
  [xl~="py2"] { padding-top: 1rem; padding-bottom: 1rem; } }
@media (max-width: 1260px) { [lg~="p0"] { padding: 0; }
  [lg~="pt0"] { padding-top: 0; }
  [lg~="pr0"] { padding-right: 0; }
  [lg~="pb0"] { padding-bottom: 0; }
  [lg~="pl0"] { padding-left: 0; }
  [lg~="px0"] { padding-left: 0; padding-right: 0; }
  [lg~="py0"] { padding-top: 0; padding-bottom: 0; }
  [lg~="p1"] { padding: 0.5rem; }
  [lg~="pt1"] { padding-top: 0.5rem; }
  [lg~="pr1"] { padding-right: 0.5rem; }
  [lg~="pb1"] { padding-bottom: 0.5rem; }
  [lg~="pl1"] { padding-left: 0.5rem; }
  [lg~="px1"] { padding-left: 0.5rem; padding-right: 0.5rem; }
  [lg~="py1"] { padding-top: 0.5rem; padding-bottom: 0.5rem; }
  [lg~="p2"] { padding: 1rem; }
  [lg~="pt2"] { padding-top: 1rem; }
  [lg~="pr2"] { padding-right: 1rem; }
  [lg~="pb2"] { padding-bottom: 1rem; }
  [lg~="pl2"] { padding-left: 1rem; }
  [lg~="px2"] { padding-left: 1rem; padding-right: 1rem; }
  [lg~="py2"] { padding-top: 1rem; padding-bottom: 1rem; } }
@media (max-width: 900px) { [md~="p0"] { padding: 0; }
  [md~="pt0"] { padding-top: 0; }
  [md~="pr0"] { padding-right: 0; }
  [md~="pb0"] { padding-bottom: 0; }
  [md~="pl0"] { padding-left: 0; }
  [md~="px0"] { padding-left: 0; padding-right: 0; }
  [md~="py0"] { padding-top: 0; padding-bottom: 0; }
  [md~="p1"] { padding: 0.5rem; }
  [md~="pt1"] { padding-top: 0.5rem; }
  [md~="pr1"] { padding-right: 0.5rem; }
  [md~="pb1"] { padding-bottom: 0.5rem; }
  [md~="pl1"] { padding-left: 0.5rem; }
  [md~="px1"] { padding-left: 0.5rem; padding-right: 0.5rem; }
  [md~="py1"] { padding-top: 0.5rem; padding-bottom: 0.5rem; }
  [md~="p2"] { padding: 1rem; }
  [md~="pt2"] { padding-top: 1rem; }
  [md~="pr2"] { padding-right: 1rem; }
  [md~="pb2"] { padding-bottom: 1rem; }
  [md~="pl2"] { padding-left: 1rem; }
  [md~="px2"] { padding-left: 1rem; padding-right: 1rem; }
  [md~="py2"] { padding-top: 1rem; padding-bottom: 1rem; } }
@media (max-width: 767px) { [sm~="p0"] { padding: 0; }
  [sm~="pt0"] { padding-top: 0; }
  [sm~="pr0"] { padding-right: 0; }
  [sm~="pb0"] { padding-bottom: 0; }
  [sm~="pl0"] { padding-left: 0; }
  [sm~="px0"] { padding-left: 0; padding-right: 0; }
  [sm~="py0"] { padding-top: 0; padding-bottom: 0; }
  [sm~="p1"] { padding: 0.5rem; }
  [sm~="pt1"] { padding-top: 0.5rem; }
  [sm~="pr1"] { padding-right: 0.5rem; }
  [sm~="pb1"] { padding-bottom: 0.5rem; }
  [sm~="pl1"] { padding-left: 0.5rem; }
  [sm~="px1"] { padding-left: 0.5rem; padding-right: 0.5rem; }
  [sm~="py1"] { padding-top: 0.5rem; padding-bottom: 0.5rem; }
  [sm~="p2"] { padding: 1rem; }
  [sm~="pt2"] { padding-top: 1rem; }
  [sm~="pr2"] { padding-right: 1rem; }
  [sm~="pb2"] { padding-bottom: 1rem; }
  [sm~="pl2"] { padding-left: 1rem; }
  [sm~="px2"] { padding-left: 1rem; padding-right: 1rem; }
  [sm~="py2"] { padding-top: 1rem; padding-bottom: 1rem; } }
.m0 { margin: 0; }
.mt0 { margin-top: 0; }
.mr0 { margin-right: 0; }
.mb0 { margin-bottom: 0; }
.ml0 { margin-left: 0; }
.m1 { margin: 0.5rem; }
.mt1 { margin-top: 0.5rem; }
.mr1 { margin-right: 0.5rem; }
.mb1 { margin-bottom: 0.5rem; }
.ml1 { margin-left: 0.5rem; }
.m2 { margin: 1rem; }
.mt2 { margin-top: 1rem; }
.mr2 { margin-right: 1rem; }
.mb2 { margin-bottom: 1rem; }
.ml2 { margin-left: 1rem; }
@media (max-width: 1439px) { [xl="m0"] { margin: 0; }
  [xl="mt0"] { margin-top: 0; }
  [xl="mr0"] { margin-right: 0; }
  [xl="mb0"] { margin-bottom: 0; }
  [xl="ml0"] { margin-left: 0; }
  [xl="m1"] { margin: 0.5rem; }
  [xl="mt1"] { margin-top: 0.5rem; }
  [xl="mr1"] { margin-right: 0.5rem; }
  [xl="mb1"] { margin-bottom: 0.5rem; }
  [xl="ml1"] { margin-left: 0.5rem; }
  [xl="m2"] { margin: 1rem; }
  [xl="mt2"] { margin-top: 1rem; }
  [xl="mr2"] { margin-right: 1rem; }
  [xl="mb2"] { margin-bottom: 1rem; }
  [xl="ml2"] { margin-left: 1rem; } }
@media (max-width: 1260px) { [lg="m0"] { margin: 0; }
  [lg="mt0"] { margin-top: 0; }
  [lg="mr0"] { margin-right: 0; }
  [lg="mb0"] { margin-bottom: 0; }
  [lg="ml0"] { margin-left: 0; }
  [lg="m1"] { margin: 0.5rem; }
  [lg="mt1"] { margin-top: 0.5rem; }
  [lg="mr1"] { margin-right: 0.5rem; }
  [lg="mb1"] { margin-bottom: 0.5rem; }
  [lg="ml1"] { margin-left: 0.5rem; }
  [lg="m2"] { margin: 1rem; }
  [lg="mt2"] { margin-top: 1rem; }
  [lg="mr2"] { margin-right: 1rem; }
  [lg="mb2"] { margin-bottom: 1rem; }
  [lg="ml2"] { margin-left: 1rem; } }
@media (max-width: 900px) { [md="m0"] { margin: 0; }
  [md="mt0"] { margin-top: 0; }
  [md="mr0"] { margin-right: 0; }
  [md="mb0"] { margin-bottom: 0; }
  [md="ml0"] { margin-left: 0; }
  [md="m1"] { margin: 0.5rem; }
  [md="mt1"] { margin-top: 0.5rem; }
  [md="mr1"] { margin-right: 0.5rem; }
  [md="mb1"] { margin-bottom: 0.5rem; }
  [md="ml1"] { margin-left: 0.5rem; }
  [md="m2"] { margin: 1rem; }
  [md="mt2"] { margin-top: 1rem; }
  [md="mr2"] { margin-right: 1rem; }
  [md="mb2"] { margin-bottom: 1rem; }
  [md="ml2"] { margin-left: 1rem; } }
@media (max-width: 767px) { [sm="m0"] { margin: 0; }
  [sm="mt0"] { margin-top: 0; }
  [sm="mr0"] { margin-right: 0; }
  [sm="mb0"] { margin-bottom: 0; }
  [sm="ml0"] { margin-left: 0; }
  [sm="m1"] { margin: 0.5rem; }
  [sm="mt1"] { margin-top: 0.5rem; }
  [sm="mr1"] { margin-right: 0.5rem; }
  [sm="mb1"] { margin-bottom: 0.5rem; }
  [sm="ml1"] { margin-left: 0.5rem; }
  [sm="m2"] { margin: 1rem; }
  [sm="mt2"] { margin-top: 1rem; }
  [sm="mr2"] { margin-right: 1rem; }
  [sm="mb2"] { margin-bottom: 1rem; }
  [sm="ml2"] { margin-left: 1rem; } }
.dn { display: none; }
.db { display: block; }
.dib { display: inline-block; }
.di { display: inline; }
.dt { display: table; }
.dtc { display: table-cell; }
.dtr { display: table-row; }
@media (max-width: 1439px) { [xl="dn"] { display: none; }
  [xl="db"] { display: block; }
  [xl="dib"] { display: inline-block; }
  [xl="di"] { display: inline; }
  [xl="dt"] { display: table; }
  [xl="dtc"] { display: table-cell; }
  [xl="dtr"] { display: table-row; } }
@media (max-width: 1260px) { [lg="dn"] { display: none; }
  [lg="db"] { display: block; }
  [lg="dib"] { display: inline-block; }
  [lg="di"] { display: inline; }
  [lg="dt"] { display: table; }
  [lg="dtc"] { display: table-cell; }
  [lg="dtr"] { display: table-row; } }
@media (max-width: 900px) { [md="dn"] { display: none; }
  [md="db"] { display: block; }
  [md="dib"] { display: inline-block; }
  [md="di"] { display: inline; }
  [md="dt"] { display: table; }
  [md="dtc"] { display: table-cell; }
  [md="dtr"] { display: table-row; } }
@media (max-width: 767px) { [sm="dn"] { display: none; }
  [sm="db"] { display: block; }
  [sm="dib"] { display: inline-block; }
  [sm="di"] { display: inline; }
  [sm="dt"] { display: table; }
  [sm="dtc"] { display: table-cell; }
  [sm="dtr"] { display: table-row; } }
.x { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }
.xx { -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; }
.xa { -webkit-box-flex: 1; -webkit-flex: 1 1 auto; -ms-flex: 1 1 auto; flex: 1 1 auto; }
.xn { -webkit-box-flex: 0; -webkit-flex: none; -ms-flex: none; flex: none; }
.xw { -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
.xwr { -webkit-flex-wrap: wrap-reverse; -ms-flex-wrap: wrap-reverse; flex-wrap: wrap-reverse; }
.xwn { -webkit-flex-wrap: nowrap; -ms-flex-wrap: nowrap; flex-wrap: nowrap; }
.xac { -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
.xab { -webkit-box-align: baseline; -webkit-align-items: baseline; -ms-flex-align: baseline; align-items: baseline; }
.xas { -webkit-box-align: stretch; -webkit-align-items: stretch; -ms-flex-align: stretch; align-items: stretch; }
.xafs { -webkit-box-align: start; -webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start; }
.xafe { -webkit-box-align: end; -webkit-align-items: flex-end; -ms-flex-align: end; align-items: flex-end; }
.xdr { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; }
.xdrr { -webkit-box-orient: horizontal; -webkit-box-direction: reverse; -webkit-flex-direction: row-reverse; -ms-flex-direction: row-reverse; flex-direction: row-reverse; }
.xdc { -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }
.xdcr { -webkit-box-orient: vertical; -webkit-box-direction: reverse; -webkit-flex-direction: column-reverse; -ms-flex-direction: column-reverse; flex-direction: column-reverse; }
.xjc { -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }
.xjb { -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }
.xja { -webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; }
.xjs { -webkit-box-pack: start; -webkit-justify-content: flex-start; -ms-flex-pack: start; justify-content: flex-start; }
.xje { -webkit-box-pack: end; -webkit-justify-content: flex-end; -ms-flex-pack: end; justify-content: flex-end; }
.xot { -webkit-box-ordinal-group: 0; -webkit-order: -1; -ms-flex-order: -1; order: -1; }
.xob { -webkit-box-ordinal-group: 100; -webkit-order: 99; -ms-flex-order: 99; order: 99; }
.xo1 { -webkit-box-ordinal-group: 2; -webkit-order: 1; -ms-flex-order: 1; order: 1; }
.xo2 { -webkit-box-ordinal-group: 3; -webkit-order: 2; -ms-flex-order: 2; order: 2; }
.xo3 { -webkit-box-ordinal-group: 4; -webkit-order: 3; -ms-flex-order: 3; order: 3; }
.xo4 { -webkit-box-ordinal-group: 5; -webkit-order: 4; -ms-flex-order: 4; order: 4; }
@media (max-width: 1439px) { [xl~="x"] { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }
  [xl~="xot"] { -webkit-box-ordinal-group: 0; -webkit-order: -1; -ms-flex-order: -1; order: -1; }
  [xl~="xob"] { -webkit-box-ordinal-group: 100; -webkit-order: 99; -ms-flex-order: 99; order: 99; }
  [xl~="xo1"] { -webkit-box-ordinal-group: 2; -webkit-order: 1; -ms-flex-order: 1; order: 1; }
  [xl~="xo2"] { -webkit-box-ordinal-group: 3; -webkit-order: 2; -ms-flex-order: 2; order: 2; }
  [xl~="xo3"] { -webkit-box-ordinal-group: 4; -webkit-order: 3; -ms-flex-order: 3; order: 3; }
  [xl~="xo4"] { -webkit-box-ordinal-group: 5; -webkit-order: 4; -ms-flex-order: 4; order: 4; } }
@media (max-width: 1260px) { [lg~="x"] { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }
  [lg~="xot"] { -webkit-box-ordinal-group: 0; -webkit-order: -1; -ms-flex-order: -1; order: -1; }
  [lg~="xob"] { -webkit-box-ordinal-group: 100; -webkit-order: 99; -ms-flex-order: 99; order: 99; }
  [lg~="xo1"] { -webkit-box-ordinal-group: 2; -webkit-order: 1; -ms-flex-order: 1; order: 1; }
  [lg~="xo2"] { -webkit-box-ordinal-group: 3; -webkit-order: 2; -ms-flex-order: 2; order: 2; }
  [lg~="xo3"] { -webkit-box-ordinal-group: 4; -webkit-order: 3; -ms-flex-order: 3; order: 3; }
  [lg~="xo4"] { -webkit-box-ordinal-group: 5; -webkit-order: 4; -ms-flex-order: 4; order: 4; } }
@media (max-width: 900px) { [md~="x"] { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }
  [md~="xot"] { -webkit-box-ordinal-group: 0; -webkit-order: -1; -ms-flex-order: -1; order: -1; }
  [md~="xob"] { -webkit-box-ordinal-group: 100; -webkit-order: 99; -ms-flex-order: 99; order: 99; }
  [md~="xo1"] { -webkit-box-ordinal-group: 2; -webkit-order: 1; -ms-flex-order: 1; order: 1; }
  [md~="xo2"] { -webkit-box-ordinal-group: 3; -webkit-order: 2; -ms-flex-order: 2; order: 2; }
  [md~="xo3"] { -webkit-box-ordinal-group: 4; -webkit-order: 3; -ms-flex-order: 3; order: 3; }
  [md~="xo4"] { -webkit-box-ordinal-group: 5; -webkit-order: 4; -ms-flex-order: 4; order: 4; } }
@media (max-width: 767px) { [sm~="x"] { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }
  [sm~="xot"] { -webkit-box-ordinal-group: 0; -webkit-order: -1; -ms-flex-order: -1; order: -1; }
  [sm~="xob"] { -webkit-box-ordinal-group: 100; -webkit-order: 99; -ms-flex-order: 99; order: 99; }
  [sm~="xo1"] { -webkit-box-ordinal-group: 2; -webkit-order: 1; -ms-flex-order: 1; order: 1; }
  [sm~="xo2"] { -webkit-box-ordinal-group: 3; -webkit-order: 2; -ms-flex-order: 2; order: 2; }
  [sm~="xo3"] { -webkit-box-ordinal-group: 4; -webkit-order: 3; -ms-flex-order: 3; order: 3; }
  [sm~="xo4"] { -webkit-box-ordinal-group: 5; -webkit-order: 4; -ms-flex-order: 4; order: 4; } }
.fl { float: left; }
.fr { float: right; }
.fn { float: none; }
.cf::before, .cf::after { content: ' '; display: table; }
.cf::after { clear: both; }
@media (max-width: 1439px) { [xl="fl"] { float: left !important; }
  [xl="fr"] { float: right !important; }
  [xl="fn"] { float: none !important; } }
@media (max-width: 1260px) { [lg="fl"] { float: left !important; }
  [lg="fr"] { float: right !important; }
  [lg="fn"] { float: none !important; } }
@media (max-width: 900px) { [md="fl"] { float: left !important; }
  [md="fr"] { float: right !important; }
  [md="fn"] { float: none !important; } }
@media (max-width: 767px) { [sm="fl"] { float: left !important; }
  [sm="fr"] { float: right !important; }
  [sm="fn"] { float: none !important; } }
.pss { position: static; }
.psr { position: relative; }
.psa { position: absolute; }
.psf { position: fixed; }
@media (max-width: 1439px) { [xl~="pss"] { position: static; }
  [xl~="psr"] { position: relative; }
  [xl~="psa"] { position: absolute; }
  [xl~="psf"] { position: fixed; } }
@media (max-width: 1260px) { [lg~="pss"] { position: static; }
  [lg~="psr"] { position: relative; }
  [lg~="psa"] { position: absolute; }
  [lg~="psf"] { position: fixed; } }
@media (max-width: 900px) { [md~="pss"] { position: static; }
  [md~="psr"] { position: relative; }
  [md~="psa"] { position: absolute; }
  [md~="psf"] { position: fixed; } }
@media (max-width: 767px) { [sm~="pss"] { position: static; }
  [sm~="psr"] { position: relative; }
  [sm~="psa"] { position: absolute; }
  [sm~="psf"] { position: fixed; } }
.z1 { z-index: 1; }
.z2 { z-index: 2; }
.z3 { z-index: 3; }
.z4 { z-index: 4; }
.h1 { font-size: 6.4rem; }
h1 { font-size: 6.4rem; }
.h2 { font-size: 3.2rem; }
h2 { font-size: 3.2rem; }
.h3 { font-size: 2.4rem; }
h3 { font-size: 2.4rem; }
.h4 { font-size: 1.6rem; }
h4 { font-size: 1.6rem; }
.h5 { font-size: 1.2rem; }
h5 { font-size: 1.2rem; }
.h6 { font-size: 1rem; }
h6 { font-size: 1rem; }
@media (max-width: 1439px) { [xl~="h1"] { font-size: 6.4rem; }
  [xl~="h2"] { font-size: 3.2rem; }
  [xl~="h3"] { font-size: 2.4rem; }
  [xl~="h4"] { font-size: 1.6rem; }
  [xl~="h5"] { font-size: 1.2rem; }
  [xl~="h6"] { font-size: 1rem; } }
@media (max-width: 1260px) { [lg~="h1"] { font-size: 6.4rem; }
  [lg~="h2"] { font-size: 3.2rem; }
  [lg~="h3"] { font-size: 2.4rem; }
  [lg~="h4"] { font-size: 1.6rem; }
  [lg~="h5"] { font-size: 1.2rem; }
  [lg~="h6"] { font-size: 1rem; } }
@media (max-width: 900px) { [md~="h1"] { font-size: 6.4rem; }
  [md~="h2"] { font-size: 3.2rem; }
  [md~="h3"] { font-size: 2.4rem; }
  [md~="h4"] { font-size: 1.6rem; }
  [md~="h5"] { font-size: 1.2rem; }
  [md~="h6"] { font-size: 1rem; } }
@media (max-width: 767px) { [sm~="h1"] { font-size: 6.4rem; }
  [sm~="h2"] { font-size: 3.2rem; }
  [sm~="h3"] { font-size: 2.4rem; }
  [sm~="h4"] { font-size: 1.6rem; }
  [sm~="h5"] { font-size: 1.2rem; }
  [sm~="h6"] { font-size: 1rem; } }
.tal { text-align: left; }
.tar { text-align: right; }
.tac { text-align: center; }
.taj { text-align: justify; }
.tafj { text-align: justify; }
.tafj:after { content: ""; display: inline-block; width: 100%; }
.ttu { text-transform: uppercase; }
.ttl { text-transform: lowercase; }
.ttc { text-transform: capitalize; }
.ttn { text-transform: none; }
.tdu { text-decoration: underline; }
.tdo { text-decoration: overline; }
.tdl { text-decoration: line-through; }
.tdn { text-decoration: none; }
@media (max-width: 1439px) { [xl~="tal"] { text-align: left; }
  [xl~="tar"] { text-align: right; }
  [xl~="tac"] { text-align: center; }
  [xl~="taj"] { text-align: justify; }
  [xl~="tafj"] { text-align: justify; }
  [xl~="tafj"]:after { content: ""; display: inline-block; width: 100%; } }
@media (max-width: 1260px) { [lg~="tal"] { text-align: left; }
  [lg~="tar"] { text-align: right; }
  [lg~="tac"] { text-align: center; }
  [lg~="taj"] { text-align: justify; }
  [lg~="tafj"] { text-align: justify; }
  [lg~="tafj"]:after { content: ""; display: inline-block; width: 100%; } }
@media (max-width: 900px) { [md~="tal"] { text-align: left; }
  [md~="tar"] { text-align: right; }
  [md~="tac"] { text-align: center; }
  [md~="taj"] { text-align: justify; }
  [md~="tafj"] { text-align: justify; }
  [md~="tafj"]:after { content: ""; display: inline-block; width: 100%; } }
@media (max-width: 767px) { [sm~="tal"] { text-align: left; }
  [sm~="tar"] { text-align: right; }
  [sm~="tac"] { text-align: center; }
  [sm~="taj"] { text-align: justify; }
  [sm~="tafj"] { text-align: justify; }
  [sm~="tafj"]:after { content: ""; display: inline-block; width: 100%; } }
.bgsc { background-size: cover; }
.bgsct { background-size: contain; }
.bgpc { background-position: center; }
.bgpt { background-position: top; }
.bgpr { background-position: right; }
.bgpb { background-position: bottom; }
.bgpl { background-position: left; }
.bgrn { background-repeat: no-repeat; }
.bgrx { background-repeat: repeat-x; }
.bgry { background-repeat: repeat-y; }
.bgc { background-size: cover; background-position: center; background-repeat: no-repeat; }
.bgct { background-size: contain; background-position: center; background-repeat: no-repeat; }
.bgn { background: none; }
@media (max-width: 1439px) { [xl~="bgn"] { background: none !important; } }
@media (max-width: 1260px) { [lg~="bgn"] { background: none !important; } }
@media (max-width: 900px) { [md~="bgn"] { background: none !important; } }
@media (max-width: 767px) { [sm~="bgn"] { background: none !important; } }
.bb { box-sizing: border-box; }
.fh { height: 100%; }
.fhm { min-height: 100%; }
.fw { width: 100%; }
.vw { width: 100vw; }
.vh { height: 100vh; }
.vwmn { min-width: 100vw; }
.vhmn { min-height: 100vh; }
.vwmx { max-width: 100vw; }
.vhmx { max-height: 100vh; }
.vabl { vertical-align: baseline; }
.vat { vertical-align: top; }
.vam { vertical-align: middle; }
.vab { vertical-align: bottom; }
.t0 { top: 0; }
.r0 { right: 0; }
.b0 { bottom: 0; }
.l0 { left: 0; }
.cc { font-size: 0; }
.ts { height: 1px; }
.oh { overflow: hidden; }
.os { overflow: scroll; }
.osx { overflow-x: scroll; }
.osy { overflow-y: scroll; }
.dev1 { outline: 1px solid #912eff; }
.dev2 { outline: 1px solid #5497ff; }
.dev3 { outline: 1px solid #51feff; }
.dev4 { outline: 1px solid #ff0000; }
.dev5 { outline: 1px solid #00ff00; }
.dev * { outline: 1px solid #912eff; }
.dev * > * { outline: 1px solid #5497ff; }
.dev * > * > * { outline: 1px solid #51feff; }
.dev * > * > * > * { outline: 1px solid #ff0000; }
.dev * > * > * > * > * { outline: 1px solid #00ff00; }