.copy {
  /* text-align: justify; */
  hyphens: auto;
}

.tar {
  text-align: right;
}

.lh1 {
  line-height: 1;
}

.type-black {
  font-family: 'Archivo Black', 'Arial Black', sans-serif;
}

.type-mono {
  font-family: monospace;
  font-weight: 400;
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

h1 {
  font-size: 3rem;
}

p {
  
}

a {
  text-decoration: none;
}

p a {
  font-family: 'Archivo Black', 'Arial Black', sans-serif;
  text-decoration: none;
}

.flip {
  transform: rotate(180deg);
}