/**
 * Black
 */

@font-face{
	font-family: 'Archivo Black';
  font-weight: normal;
  font-style: normal;
	src: url('/specials/2016-shattered-streams/assets/webfonts/archivo-black/ArchivoBlack.eot');
	src: url('/specials/2016-shattered-streams/assets/webfonts/archivo-black/ArchivoBlack.eot?#iefix') format('embedded-opentype'),
	     url('/specials/2016-shattered-streams/assets/webfonts/archivo-black/ArchivoBlack.woff') format('woff'),
	     url('/specials/2016-shattered-streams/assets/webfonts/archivo-black/ArchivoBlack.ttf') format('truetype');
}

/**
 * Narrow
 */
@font-face{
	font-family: 'Archivo Narrow';
  font-weight: normal;
  font-style: normal;
	src: url('/specials/2016-shattered-streams/assets/webfonts/archivo-narrow/ArchivoNarrow-Regular.eot');
	src: url('/specials/2016-shattered-streams/assets/webfonts/archivo-narrow/ArchivoNarrow-Regular.eot?#iefix') format('embedded-opentype'),
	     url('/specials/2016-shattered-streams/assets/webfonts/archivo-narrow/ArchivoNarrow-Regular.woff') format('woff'),
	     url('/specials/2016-shattered-streams/assets/webfonts/archivo-narrow/ArchivoNarrow-Regular.ttf') format('truetype');
}

/**
 * Archivo Narrow Bold
 */
@font-face{
	font-family: 'Archivo Narrow';
  font-weight: bold;
  font-style: normal;
	src: url('/specials/2016-shattered-streams/assets/webfonts/archivo-narrow/ArchivoNarrow-Bold.eot');
	src: url('/specials/2016-shattered-streams/assets/webfonts/archivo-narrow/ArchivoNarrow-Bold.eot?#iefix') format('embedded-opentype'),
	     url('/specials/2016-shattered-streams/assets/webfonts/archivo-narrow/ArchivoNarrow-Bold.woff') format('woff'),
	     url('/specials/2016-shattered-streams/assets/webfonts/archivo-narrow/ArchivoNarrow-Bold.ttf') format('truetype');
}