<div class="x xw xdc" md="h100vh" style="padding: .1rem">
  <div
    class="psa t0 l0 r0 b0 z2"
    style="
      border: .2rem solid #000;
      pointer-events: none;
    "
    data-splash-border
  ></div>
  <div class="x xw xa c12">
    <div class="x xjb xdc c6 p2 bg-white color-black" md="c12 h100vh" data-reveal="1" style="border: .1rem solid #000;" data-deconstruct>
      <div class="xa site-title mb2">
        <svg width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 386 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g data-title fill="#000000">
              <path data-reveal="2" d="M381.720011,1.60500005 C383.420019,2.67500543 384.290011,4.25998963 384.330011,6.36000019 L384.330011,6.7200002 L378.120011,6.7200002 L378.120011,6.60000019 C378.120011,5.99999718 377.900013,5.50000216 377.460011,5.10000015 C377.020009,4.69999814 376.350015,4.50000013 375.450011,4.50000013 C374.570006,4.50000013 373.895013,4.62999884 373.425011,4.89000014 C372.955008,5.15000145 372.720011,5.46999826 372.720011,5.85000017 C372.720011,6.39000289 373.040007,6.7899989 373.680011,7.05000021 C374.320014,7.31000152 375.350004,7.57999882 376.770011,7.86000023 C378.430019,8.20000194 379.795005,8.5549984 380.865011,8.92500026 C381.935016,9.29500212 382.870007,9.89999609 383.670011,10.7400003 C384.470015,11.5800045 384.880011,12.7199932 384.900011,14.1600004 C384.900011,16.6000127 384.075019,18.4099946 382.425011,19.5900006 C380.775003,20.7700065 378.570025,21.3600006 375.810011,21.3600006 C372.589994,21.3600006 370.085019,20.820006 368.29501,19.7400006 C366.505001,18.6599951 365.61001,16.7500142 365.61001,14.0100004 L371.880011,14.0100004 C371.880011,15.0500056 372.150008,15.7449987 372.690011,16.0950005 C373.230013,16.4450022 374.070005,16.6200005 375.210011,16.6200005 C376.050015,16.6200005 376.745008,16.5300014 377.295011,16.3500005 C377.845013,16.1699996 378.120011,15.8000033 378.120011,15.2400004 C378.120011,14.7399979 377.815014,14.3650017 377.205011,14.1150004 C376.595008,13.8649992 375.600018,13.6000018 374.220011,13.3200004 C372.540002,12.9599986 371.150016,12.5850023 370.050011,12.1950004 C368.950005,11.8049984 367.990015,11.1600048 367.17001,10.2600003 C366.350006,9.35999578 365.94001,8.14000794 365.94001,6.60000019 C365.94001,4.33998883 366.815002,2.67500543 368.56501,1.60500005 C370.315019,0.534994666 372.529997,0 375.210011,0 C377.850024,0 380.020002,0.534994666 381.720011,1.60500005 L381.720011,1.60500005 Z"></path>
              <path data-reveal="2" d="M355.05001,21.0000006 L355.05001,13.5600004 C355.05001,12.6399958 355.08501,11.6950052 355.15501,10.7250003 C355.22501,9.75499544 355.30001,8.94000356 355.38001,8.28000024 C355.460011,7.61999692 355.51001,7.20000111 355.53001,7.02000021 L355.41001,7.02000021 L351.60001,21.0000006 L346.41001,21.0000006 L342.57001,7.05000021 L342.45001,7.05000021 C342.47001,7.23000111 342.525009,7.64499698 342.61501,8.29500024 C342.70501,8.94500351 342.790009,9.75499544 342.87001,10.7250003 C342.95001,11.6950052 342.99001,12.6399958 342.99001,13.5600004 L342.99001,21.0000006 L336.90001,21.0000006 L336.90001,0.360000011 L346.26001,0.360000011 L349.38001,12.2700004 L349.50001,12.2700004 L352.59001,0.360000011 L361.62001,0.360000011 L361.62001,21.0000006 L355.05001,21.0000006 Z"></path>
              <path data-reveal="2" d="M326.910009,21.0000006 L326.040009,18.0900005 L318.810009,18.0900005 L317.940009,21.0000006 L311.160009,21.0000006 L318.690009,0.360000011 L326.400009,0.360000011 L333.93001,21.0000006 L326.910009,21.0000006 Z M320.190009,13.4700004 L324.660009,13.4700004 L322.500009,6.12000018 L322.380009,6.12000018 L320.190009,13.4700004 Z"></path>
              <path data-reveal="2" d="M290.520008,0.360000011 L308.370009,0.360000011 L308.370009,5.31000016 L297.150008,5.31000016 L297.150008,8.16000024 L306.750009,8.16000024 L306.750009,12.9000004 L297.150008,12.9000004 L297.150008,16.0500005 L308.580009,16.0500005 L308.580009,21.0000006 L290.520008,21.0000006 L290.520008,0.360000011 Z"></path>
              <path data-reveal="2" d="M284.850008,10.1100003 C284.170005,11.1300054 283.180015,11.8799979 281.880008,12.3600004 L286.470008,21.0000006 L279.030008,21.0000006 L275.370008,13.4700004 L272.910008,13.4700004 L272.910008,21.0000006 L266.280008,21.0000006 L266.280008,0.360000011 L278.910008,0.360000011 C280.390015,0.360000011 281.655003,0.644997169 282.705008,1.21500004 C283.755013,1.7850029 284.545005,2.55499523 285.075008,3.5250001 C285.605011,4.49500498 285.870008,5.54999446 285.870008,6.6900002 C285.870008,7.95000653 285.530012,9.08999517 284.850008,10.1100003 Z M278.580008,5.61000017 C278.220006,5.24999835 277.78001,5.07000015 277.260008,5.07000015 L272.910008,5.07000015 L272.910008,8.88000026 L277.260008,8.88000026 C277.78001,8.88000026 278.220006,8.69500211 278.580008,8.32500025 C278.94001,7.95499838 279.120008,7.50000292 279.120008,6.9600002 C279.120008,6.41999749 278.94001,5.97000198 278.580008,5.61000017 Z"></path>
              <path data-reveal="2" d="M255.600007,5.64000017 L255.600007,21.0000006 L248.970007,21.0000006 L248.970007,5.64000017 L242.190007,5.64000017 L242.190007,0.360000011 L262.350007,0.360000011 L262.350007,5.64000017 L255.600007,5.64000017 Z"></path>
              <path data-reveal="2" d="M236.340007,1.60500005 C238.040015,2.67500543 238.910007,4.25998963 238.950007,6.36000019 L238.950007,6.7200002 L232.740007,6.7200002 L232.740007,6.60000019 C232.740007,5.99999718 232.520009,5.50000216 232.080007,5.10000015 C231.640004,4.69999814 230.970011,4.50000013 230.070007,4.50000013 C229.190002,4.50000013 228.515009,4.62999884 228.045006,4.89000014 C227.575004,5.15000145 227.340006,5.46999826 227.340006,5.85000017 C227.340006,6.39000289 227.660003,6.7899989 228.300006,7.05000021 C228.94001,7.31000152 229.969999,7.57999882 231.390007,7.86000023 C233.050015,8.20000194 234.415001,8.5549984 235.485007,8.92500026 C236.555012,9.29500212 237.490003,9.89999609 238.290007,10.7400003 C239.090011,11.5800045 239.500007,12.7199932 239.520007,14.1600004 C239.520007,16.6000127 238.695015,18.4099946 237.045007,19.5900006 C235.394998,20.7700065 233.19002,21.3600006 230.430007,21.3600006 C227.20999,21.3600006 224.705015,20.820006 222.915006,19.7400006 C221.124997,18.6599951 220.230006,16.7500142 220.230006,14.0100004 L226.500006,14.0100004 C226.500006,15.0500056 226.770004,15.7449987 227.310006,16.0950005 C227.850009,16.4450022 228.690001,16.6200005 229.830007,16.6200005 C230.670011,16.6200005 231.365004,16.5300014 231.915007,16.3500005 C232.465009,16.1699996 232.740007,15.8000033 232.740007,15.2400004 C232.740007,14.7399979 232.43501,14.3650017 231.825007,14.1150004 C231.215004,13.8649992 230.220013,13.6000018 228.840007,13.3200004 C227.159998,12.9599986 225.770012,12.5850023 224.670006,12.1950004 C223.570001,11.8049984 222.61001,11.1600048 221.790006,10.2600003 C220.970002,9.35999578 220.560006,8.14000794 220.560006,6.60000019 C220.560006,4.33998883 221.434998,2.67500543 223.185006,1.60500005 C224.935015,0.534994666 227.149993,0 229.830007,0 C232.47002,0 234.639998,0.534994666 236.340007,1.60500005 L236.340007,1.60500005 Z"></path>
              <path data-reveal="2" d="M205.800006,10.6800003 C205.800006,17.5600349 202.190042,21.0000006 194.970006,21.0000006 L186.030005,21.0000006 L186.030005,0.360000011 L194.970006,0.360000011 C202.190042,0.360000011 205.800006,3.79996571 205.800006,10.6800003 Z M192.660005,16.0500005 L194.850006,16.0500005 C197.63002,16.0500005 199.020006,14.5600153 199.020006,11.5800003 L199.020006,9.78000029 C199.020006,6.7999853 197.63002,5.31000016 194.850006,5.31000016 L192.660005,5.31000016 L192.660005,16.0500005 Z"></path>
              <path data-reveal="2" d="M163.470005,0.360000011 L181.320005,0.360000011 L181.320005,5.31000016 L170.100005,5.31000016 L170.100005,8.16000024 L179.700005,8.16000024 L179.700005,12.9000004 L170.100005,12.9000004 L170.100005,16.0500005 L181.530005,16.0500005 L181.530005,21.0000006 L163.470005,21.0000006 L163.470005,0.360000011 Z"></path>
              <path data-reveal="2" d="M157.800005,10.1100003 C157.120001,11.1300054 156.130011,11.8799979 154.830004,12.3600004 L159.420005,21.0000006 L151.980004,21.0000006 L148.320004,13.4700004 L145.860004,13.4700004 L145.860004,21.0000006 L139.230004,21.0000006 L139.230004,0.360000011 L151.860004,0.360000011 C153.340012,0.360000011 154.604999,0.644997169 155.655004,1.21500004 C156.70501,1.7850029 157.495002,2.55499523 158.025005,3.5250001 C158.555007,4.49500498 158.820005,5.54999446 158.820005,6.6900002 C158.820005,7.95000653 158.480008,9.08999517 157.800005,10.1100003 Z M151.530004,5.61000017 C151.170003,5.24999835 150.730007,5.07000015 150.210004,5.07000015 L145.860004,5.07000015 L145.860004,8.88000026 L150.210004,8.88000026 C150.730007,8.88000026 151.170003,8.69500211 151.530004,8.32500025 C151.890006,7.95499838 152.070004,7.50000292 152.070004,6.9600002 C152.070004,6.41999749 151.890006,5.97000198 151.530004,5.61000017 Z"></path>
              <path data-reveal="2" d="M116.670003,0.360000011 L134.520004,0.360000011 L134.520004,5.31000016 L123.300004,5.31000016 L123.300004,8.16000024 L132.900004,8.16000024 L132.900004,12.9000004 L123.300004,12.9000004 L123.300004,16.0500005 L134.730004,16.0500005 L134.730004,21.0000006 L116.670003,21.0000006 L116.670003,0.360000011 Z"></path>
              <path data-reveal="2" d="M105.990003,5.64000017 L105.990003,21.0000006 L99.3600028,21.0000006 L99.3600028,5.64000017 L92.5800026,5.64000017 L92.5800026,0.360000011 L112.740003,0.360000011 L112.740003,5.64000017 L105.990003,5.64000017 Z"></path>
              <path data-reveal="2" d="M83.4300024,5.64000017 L83.4300024,21.0000006 L76.8000022,21.0000006 L76.8000022,5.64000017 L70.020002,5.64000017 L70.020002,0.360000011 L90.1800026,0.360000011 L90.1800026,5.64000017 L83.4300024,5.64000017 Z"></path>
              <path data-reveal="2" d="M63.2100018,21.0000006 L62.3400018,18.0900005 L55.1100016,18.0900005 L54.2400015,21.0000006 L47.4600014,21.0000006 L54.9900016,0.360000011 L62.7000018,0.360000011 L70.230002,21.0000006 L63.2100018,21.0000006 Z M56.4900016,13.4700004 L60.9600017,13.4700004 L58.8000017,6.12000018 L58.6800017,6.12000018 L56.4900016,13.4700004 Z"></path>
              <path data-reveal="2" d="M37.4100011,21.0000006 L37.4100011,13.1700004 L30.1200009,13.1700004 L30.1200009,21.0000006 L23.4900007,21.0000006 L23.4900007,0.360000011 L30.1200009,0.360000011 L30.1200009,7.89000023 L37.4100011,7.89000023 L37.4100011,0.360000011 L44.0400013,0.360000011 L44.0400013,21.0000006 L37.4100011,21.0000006 Z"></path>
              <path data-reveal="2" d="M16.1100005,1.60500005 C17.810009,2.67500543 18.6800004,4.25998963 18.7200006,6.36000019 L18.7200006,6.7200002 L12.5100004,6.7200002 L12.5100004,6.60000019 C12.5100004,5.99999718 12.2900026,5.50000216 11.8500003,5.10000015 C11.4099981,4.69999814 10.7400048,4.50000013 9.84000029,4.50000013 C8.95999586,4.50000013 8.28500259,4.62999884 7.81500023,4.89000014 C7.34499787,5.15000145 7.11000021,5.46999826 7.11000021,5.85000017 C7.11000021,6.39000289 7.42999702,6.7899989 8.07000024,7.05000021 C8.71000346,7.31000152 9.73999319,7.57999882 11.1600003,7.86000023 C12.8200087,8.20000194 14.1849951,8.5549984 15.2550004,8.92500026 C16.3250058,9.29500212 17.2599965,9.89999609 18.0600005,10.7400003 C18.8600046,11.5800045 19.2700005,12.7199932 19.2900006,14.1600004 C19.2900006,16.6000127 18.4650088,18.4099946 16.8150005,19.5900006 C15.1649922,20.7700065 12.9600142,21.3600006 10.2000003,21.3600006 C6.97998411,21.3600006 4.47500908,20.820006 2.68500008,19.7400006 C0.894991076,18.6599951 0,16.7500142 0,14.0100004 L6.27000018,14.0100004 C6.27000018,15.0500056 6.53999749,15.7449987 7.08000021,16.0950005 C7.62000292,16.4450022 8.45999455,16.6200005 9.60000028,16.6200005 C10.4400045,16.6200005 11.1349976,16.5300014 11.6850003,16.3500005 C12.2350031,16.1699996 12.5100004,15.8000033 12.5100004,15.2400004 C12.5100004,14.7399979 12.2050034,14.3650017 11.5950003,14.1150004 C10.9849973,13.8649992 9.99000719,13.6000018 8.61000025,13.3200004 C6.9299918,12.9599986 5.54000566,12.5850023 4.44000013,12.1950004 C3.3399946,11.8049984 2.38000417,11.1600048 1.56000005,10.2600003 C0.739995922,9.35999578 0.33000001,8.14000794 0.33000001,6.60000019 C0.33000001,4.33998883 1.20499129,2.67500543 2.95500009,1.60500005 C4.70500889,0.534994666 6.9199868,0 9.60000028,0 C12.2400136,0 14.4099919,0.534994666 16.1100005,1.60500005 L16.1100005,1.60500005 Z" id="SHATTERED-STREAMS"></path>
            </g>
          </g>
        </svg>
        <!-- <svg width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 300 100.19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g fill="#000000" data-title>
              <path data-reveal="2" d="M38.412881,2.20159369 C40.3187477,3.14357381 41.8302745,4.46889805 42.9475068,6.17760618 C44.064739,7.8863143 44.6233468,9.79215247 44.6233468,11.8951779 C44.6233468,17.4594325 42.1041354,20.9644222 37.0656371,22.4102522 L37.0656371,22.6731291 C42.8051438,23.9875199 45.6748542,27.7553839 45.6748542,33.976834 C45.6748542,36.3427375 45.0943403,38.4347783 43.933295,40.253019 C42.7722497,42.0712597 41.1840513,43.4842087 39.1686519,44.4919083 C37.1532526,45.499608 34.9407278,46.0034503 32.5310113,46.0034503 L2.03729565,46.0034503 L2.03729565,0.788630576 L32.136696,0.788630576 C34.4149735,0.788630576 36.5070142,1.25961357 38.412881,2.20159369 L38.412881,2.20159369 L38.412881,2.20159369 Z M16.5612421,35.4883759 L27.6020702,35.4883759 C28.5659568,35.4883759 29.3655326,35.14883 30.0008215,34.4697281 C30.6361104,33.7906261 30.9537501,32.947238 30.9537501,31.9395383 L30.9537501,31.2823462 C30.9537501,30.2746465 30.6361104,29.4312584 30.0008215,28.7521564 C29.3655326,28.0730545 28.5659568,27.7335086 27.6020702,27.7335086 L16.5612421,27.7335086 L16.5612421,35.4883759 Z M16.5612421,18.4013801 L26.5505627,18.4013801 C27.5144494,18.4013801 28.3140251,18.0618342 28.9493141,17.3827323 C29.584603,16.7036303 29.9022427,15.8602422 29.9022427,14.8525425 L29.9022427,14.1953504 C29.9022427,13.2314637 29.5736499,12.4099818 28.9164544,11.7308798 C28.259259,11.0517779 27.4706363,10.712232 26.5505627,10.712232 L16.5612421,10.712232 L16.5612421,18.4013801 Z"></path>
              <path data-reveal="2" d="M79.0848599,12.2894931 C78.2962254,11.5008586 77.3323532,11.1065473 76.1932145,11.1065473 L66.6639284,11.1065473 L66.6639284,19.4528875 L76.1932145,19.4528875 C77.3323532,19.4528875 78.2962254,19.0476231 79.0848599,18.2370821 C79.8734945,17.426541 80.2678058,16.4298096 80.2678058,15.2468578 C80.2678058,14.063906 79.8734945,13.0781277 79.0848599,12.2894931 L79.0848599,12.2894931 L79.0848599,12.2894931 Z M92.8201758,22.1473753 C91.3305328,24.3818398 89.1618204,26.0248037 86.3139735,27.0763164 L96.3690134,46.0034503 L80.0706482,46.0034503 L72.052904,29.5079274 L66.6639284,29.5079274 L66.6639284,46.0034503 L52.1399819,46.0034503 L52.1399819,0.788630576 L79.8077713,0.788630576 C83.0499354,0.788630576 85.8210679,1.41295687 88.121252,2.66162819 C90.421436,3.91029952 92.1520246,5.59707582 93.3130699,7.72200772 C94.4741152,9.84693962 95.0546291,12.1580422 95.0546291,14.6553849 C95.0546291,17.4156057 94.3098188,19.9129109 92.8201758,22.1473753 L92.8201758,22.1473753 L92.8201758,22.1473753 Z"></path>
              <path data-reveal="2" d="M115.476875,13.6695966 C113.855793,15.5535569 113.045264,18.0946744 113.045264,21.2930255 L113.045264,25.4990553 C113.045264,28.6974064 113.855793,31.2385239 115.476875,33.1224842 C117.097957,35.0064444 119.463825,35.9484104 122.57455,35.9484104 C125.685275,35.9484104 128.062096,35.0064444 129.705085,33.1224842 C131.348074,31.2385239 132.169556,28.6974064 132.169556,25.4990553 L132.169556,21.2930255 C132.169556,18.0946744 131.348074,15.5535569 129.705085,13.6695966 C128.062096,11.7856364 125.685275,10.8436704 122.57455,10.8436704 C119.463825,10.8436704 117.097957,11.7856364 115.476875,13.6695966 L115.476875,13.6695966 L115.476875,13.6695966 Z M140.647334,5.98044853 C144.897198,9.96743416 147.022098,15.7725734 147.022098,23.3960404 C147.022098,31.0195074 144.897198,36.8246467 140.647334,40.8116323 C136.39747,44.7986179 130.373269,46.7920808 122.57455,46.7920808 C114.775831,46.7920808 108.762583,44.809571 104.534626,40.8444919 C100.306669,36.8794128 98.1927216,31.0633205 98.1927216,23.3960404 C98.1927216,15.7287604 100.306669,9.91266804 104.534626,5.94758893 C108.762583,1.98250982 114.775831,0 122.57455,0 C130.373269,0 136.39747,1.99346291 140.647334,5.98044853 L140.647334,5.98044853 L140.647334,5.98044853 Z"></path>
              <path data-reveal="2" d="M183.414113,0.788630576 L201.421178,0.788630576 L185.188532,19.3871683 L201.749774,46.0034503 L184.597059,46.0034503 L175.199211,29.4422082 L167.312906,35.8826912 L167.312906,46.0034503 L152.788959,46.0034503 L152.788959,0.788630576 L167.312906,0.788630576 L167.312906,20.1100797 L183.414113,0.788630576 L183.414113,0.788630576 Z"></path>
              <path data-reveal="2" d="M207.533065,0.788630576 L246.635998,0.788630576 L246.635998,11.632301 L222.057011,11.632301 L222.057011,17.8756264 L243.08716,17.8756264 L243.08716,28.2592623 L222.057011,28.2592623 L222.057011,35.1597798 L247.096032,35.1597798 L247.096032,46.0034503 L207.533065,46.0034503 L207.533065,0.788630576 L207.533065,0.788630576 Z"></path>
              <path data-reveal="2" d="M287.316192,46.0034503 L268.323339,24.0532326 L268.323339,46.0034503 L254.982338,46.0034503 L254.982338,0.788630576 L267.666146,0.788630576 L286.658999,23.0674443 L286.658999,0.788630576 L300,0.788630576 L300,46.0034503 L287.316192,46.0034503 L287.316192,46.0034503 Z"></path>
              <path data-reveal="2" d="M35.2912183,56.9128399 C39.0153257,59.2568369 40.9211639,62.7289674 41.0087899,67.3293354 L41.0087899,68.117966 L27.4049125,68.117966 L27.4049125,67.8550891 C27.4049125,66.5406983 26.9229764,65.445389 25.9590898,64.5691284 C24.9952032,63.6928678 23.5274887,63.2547441 21.5559024,63.2547441 C19.6281291,63.2547441 18.1494616,63.5395245 17.1198554,64.1090939 C16.0902492,64.6786633 15.5754539,65.3796612 15.5754539,66.2121088 C15.5754539,67.3950605 16.2764518,68.271308 17.6784687,68.8408774 C19.0804857,69.4104467 21.3368228,70.0019137 24.4475479,70.6152961 C28.0840292,71.3601176 31.0742236,72.1377872 33.4182207,72.9483283 C35.7622177,73.7588693 37.8104461,75.0841935 39.5629672,76.9243408 C41.3154884,78.764488 42.213642,81.2617931 42.257455,84.4163312 C42.257455,89.7615207 40.4501947,93.7265404 36.8356198,96.3115091 C33.2210449,98.8964778 28.390731,100.188943 22.344533,100.188943 C15.2906353,100.188943 9.80313579,99.0060087 5.88186971,96.6401052 C1.96060363,94.2742016 0,90.0901201 0,84.0877352 L13.7353159,84.0877352 C13.7353159,86.3660127 14.3267829,87.8884926 15.5097347,88.6552206 C16.6926864,89.4219486 18.532806,89.8053068 21.0301487,89.8053068 C22.8702959,89.8053068 24.3927758,89.6081512 25.5976341,89.2138339 C26.8024924,88.8195166 27.4049125,88.0089878 27.4049125,86.782223 C27.4049125,85.6868972 26.7367738,84.8654153 25.4004765,84.3177524 C24.0641791,83.7700895 21.8845136,83.1895756 18.8614146,82.5761932 C15.1811202,81.7875587 12.1361604,80.9660767 9.72644377,80.1117227 C7.31672718,79.2573686 5.21373334,77.8444196 3.41739916,75.8728333 C1.62106498,73.901247 0.722911361,71.2286924 0.722911361,67.8550891 C0.722911361,62.9042169 2.63970262,59.2568369 6.47334264,56.9128399 C10.3069827,54.5688428 15.1592028,53.3968619 21.0301487,53.3968619 C26.8134685,53.3968619 31.5671108,54.5688428 35.2912183,56.9128399 L35.2912183,56.9128399 L35.2912183,56.9128399 Z"></path>
              <path data-reveal="2" d="M75.5113776,65.7520743 L75.5113776,99.4003122 L60.9874312,99.4003122 L60.9874312,65.7520743 L46.1348887,65.7520743 L46.1348887,54.1854925 L90.2982009,54.1854925 L90.2982009,65.7520743 L75.5113776,65.7520743 L75.5113776,65.7520743 Z"></path>
              <path data-reveal="2" d="M123.88072,65.686355 C123.092085,64.8977205 122.128213,64.5034092 120.989074,64.5034092 L111.459788,64.5034092 L111.459788,72.8497494 L120.989074,72.8497494 C122.128213,72.8497494 123.092085,72.444485 123.88072,71.633944 C124.669354,70.8234029 125.063665,69.8266715 125.063665,68.6437197 C125.063665,67.4607679 124.669354,66.4749896 123.88072,65.686355 L123.88072,65.686355 L123.88072,65.686355 Z M137.616035,75.5442372 C136.126393,77.7787017 133.95768,79.4216657 131.109833,80.4731783 L141.164873,99.4003122 L124.866508,99.4003122 L116.848764,82.9047893 L111.459788,82.9047893 L111.459788,99.4003122 L96.9358416,99.4003122 L96.9358416,54.1854925 L124.603631,54.1854925 C127.845795,54.1854925 130.616928,54.8098188 132.917112,56.0584901 C135.217296,57.3071614 136.947884,58.9939377 138.10893,61.1188696 C139.269975,63.2438015 139.850489,65.5549041 139.850489,68.0522468 C139.850489,70.8124676 139.105678,73.3097728 137.616035,75.5442372 L137.616035,75.5442372 L137.616035,75.5442372 Z"></path>
              <path data-reveal="2" d="M148.065391,54.1854925 L187.168323,54.1854925 L187.168323,65.0291629 L162.589337,65.0291629 L162.589337,71.2724883 L183.619486,71.2724883 L183.619486,81.6561242 L162.589337,81.6561242 L162.589337,88.5566417 L187.628358,88.5566417 L187.628358,99.4003122 L148.065391,99.4003122 L148.065391,54.1854925 L148.065391,54.1854925 Z"></path>
              <path data-reveal="2" d="M225.811222,99.4003122 L223.905364,93.0255483 L208.067034,93.0255483 L206.161176,99.4003122 L191.308634,99.4003122 L207.804157,54.1854925 L224.693995,54.1854925 L241.189518,99.4003122 L225.811222,99.4003122 L225.811222,99.4003122 Z M211.090117,82.9047893 L220.88228,82.9047893 L216.150497,66.8035817 L215.88762,66.8035817 L211.090117,82.9047893 L211.090117,82.9047893 Z" id="A"></path>
              <path data-reveal="2" d="M285.484268,99.4003122 L285.484268,83.1019469 C285.484268,81.0865476 285.56094,79.016413 285.714286,76.8914811 C285.867631,74.7665492 286.031928,72.9811951 286.20718,71.5353652 C286.382432,70.0895352 286.491963,69.1694754 286.535776,68.7751581 L286.272899,68.7751581 L277.926559,99.4003122 L266.557135,99.4003122 L258.145075,68.8408774 L257.882198,68.8408774 C257.926011,69.2351946 258.046495,70.1443013 258.243654,71.5682248 C258.440813,72.9921482 258.627015,74.7665492 258.802267,76.8914811 C258.977519,79.016413 259.065144,81.0865476 259.065144,83.1019469 L259.065144,99.4003122 L245.724144,99.4003122 L245.724144,54.1854925 L266.228539,54.1854925 L273.063337,80.2760207 L273.326214,80.2760207 L280.095293,54.1854925 L299.876776,54.1854925 L299.876776,99.4003122 L285.484268,99.4003122 L285.484268,99.4003122 Z" id="M"></path>
            </g>
          </g>
        </svg> -->
        <div class="dn" md="db" style="height: 0; padding-bottom: 33.3%"></div>
      </div>

      <div class="bg-blue color-white mb2 oh lh1 ttu p1 now-streaming-title" data-reveal="2">
        &nbsp;
        <div class="p1 tac">
          <div class="blink">Currently Streaming</div>
        </div>
        <div class="p1">
          <div class="type-black marquee" data-reveal="3">
            <div data-current-stream-artist><%- activetrack.artist %></div>
            <div data-current-stream-artist><%- activetrack.artist %></div>
          </div>
        </div>
      </div>
      
      <div class="copy">
        <a href="#calendar" class="color-black"><%- description %></a>
      </div>
    </div>

    <div class="c6 usn" md="c12">
      <div class="c12" data-buttons>
        <div class="c12 xa bg-white color-black ttu px2" data-reveal="1" style="height: 3rem; line-height: 3rem; border: .1rem solid #000;" data-deconstruct>
          <div class="x xjb">
            <div class="x" data-reveal="2"><%- durationTitle %></div>
            <div data-reveal="2" class="tar" style="width: 3rem; line-height: 2.75rem;"><a href="http://nyc.redbullmusicacademy.com/"><img src="assets/rbma-logo-black.png" style="vertical-align: text-bottom; height: 1.25rem"></a></div>
          </div>
        </div>
        <div class="x xw c12 psr duration-options" style="height: calc(100vh - 3.2rem);">
          <div class="c3 x xdc type-black">
            <input type="radio" name="duration" id="duration-1" value="1">
            <label for="duration-1" data-deconstruct data-reveal="1">
              <div data-reveal="2">1</div>
            </label>
          </div>
          <div class="c3 x xdc type-black">
            <input type="radio" name="duration" id="duration-5" value="5">
            <label for="duration-5" data-deconstruct data-reveal="1">
              <div data-reveal="2">5</div>
            </label>
          </div>
          <div class="c3 x xdc type-black">
            <input type="radio" name="duration" id="duration-10" value="10">
            <label for="duration-10" data-deconstruct data-reveal="1">
              <div data-reveal="2">10</div>
            </label>
          </div>
          <div class="c3 x xdc type-black">
            <input type="radio" name="duration" id="duration-15" value="15">
            <label for="duration-15" data-deconstruct data-reveal="1">
              <div data-reveal="2">15</div>
            </label>
          </div>
          <div class="c3 x xdc type-black">
            <input type="radio" name="duration" id="duration-24" value="24">
            <label for="duration-24" data-deconstruct data-reveal="1">
              <div data-reveal="2">24</div>
            </label>
          </div>
          <div class="c3 x xdc type-black">
            <input type="radio" name="duration" id="duration-30" value="30">
            <label for="duration-30" data-deconstruct data-reveal="1">
              <div data-reveal="2">30</div>
            </label>
          </div>
          <div class="c12 x" data-intervals>
            <div class="c3 x xdc">
              <input type="radio" name="interval" id="interval-minutes" value="minutes">
              <label for="interval-minutes" style="padding-bottom: 0" data-deconstruct data-reveal="1">
                <div data-reveal="2">MIN</div>
              </label>
            </div>
            <div class="c3 x xdc">
              <input type="radio" name="interval" id="interval-hours" value="hours">
              <label for="interval-hours" style="padding-bottom: 0" data-deconstruct data-reveal="1">
                <div data-reveal="2">HR</div>
              </label>
            </div>
          </div>
        </div>
        <div class="c12 xa bg-black color-white ttu tac type-black psr oh" style="height: 3rem; line-height: 3rem; border: .1rem solid #000;" data-reveal="1" data-deconstruct>
          <div
            class="psa"
            style="
              border: .2rem solid #000;
              pointer-events: none;
              top: -.2rem;
              left: -.2rem;
              right: -.2rem;
              bottom: -.2rem;
              z-index: 3;
            "
          ></div>
          <div class="psr z2">Buffering Stream</div>
          <div class="psa t0 l0 b0 r0 z1 progress-bar" data-progress></div>
        </div>
      </div>
    </div>
  </div>
</div>