<%
  var showAll = showAll || false
%>

<div class="x xw p2 color-white oh" md="p1">
  <div class="c4 p1 type-black" md="c12">
    <a href="#"><span class="dib type-mono" style="transform: translateY(0.05rem) rotate(180deg)">&rarr;</span>&nbsp;Stream</a>
  </div>
  <div class="c8 p1 copy" md="c12">
    <p><%- calendarDescription %></p>
  </div>
</div>

<div class="x xw xjc p2 color-white oh" md="p1">
  <% tracks.forEach(function (track) { %>
    <div class="p1 c3 usn thumb-container" lg="c4" md="c6" sm="c12 h3">
      <div class="thumb">
        <div class="thumb-front">
          <div class="bg-grey psr mb1 oh" style="padding-bottom: 100%; position: relative;">
            <div class="psa lh1 z3 corner <%- track.active ? 'invert' : '' %>">
              <%- track.day %>
            </div>
            <div class="psa p1 t0 l0 r0 b0 x xjc xac z3">
              <div class="ttu type-black color-white <% if (track.past === true || track.active === true || showAll === true) { %>color-blue-glow<% } %> tac">
                <%- track.artist %>
                <% if (track.title) { %><div class="ttu dn"><%- track.title %></div> <% } %>
              </div>
            </div>
            <% if (track.past === true || track.active === true || showAll === true) { %>
              <div class="bg-blue psa t0 l0 r0 b0 z1 thumb-artist" data-src="tracks/<%- track.path %>/artist.jpg" style="background-blend-mode: multiply; background-size: cover; background-position: center;"></div>
              <div class="psa t0 l0 r0 b0 z2 oh thumb-frames">
                <div class="thumb-frames-track x">
                  <% for (var i = 0; i < 6; i++) { %>
                    <div class="c2 bg-cover data-thumb" data-src="tracks/<%- track.path + '/0' + (i+1) %>.png"></div>
                  <% } %>
                </div>
              </div>
            <% } else { %>
              <div class="bg-grey psa t0 l0 r0 b0 z1 thumb-artist" data-src="tracks/<%- track.path %>/artist.jpg" style="background-blend-mode: multiply; background-size: cover; background-position: center;"></div>
            <% } %>
          </div>
        </div>
        <div class="thumb-back">
          <div class="x xac bg-white color-black p1 tac copy color-blue-links" style="height: 100%; font-size: 0.5rem;">
            <%- marked((track.bio !== undefined) ? track.bio : '') %>
          </div>
        </div>
      </div>
    </div>
  <% }) %>
</div>


<ul class="x xw xjc color-white p1">
  <% credits.forEach(function (credit) { %>
  <li class="db c4 tac p1" md="c6">
    <span class="color-grey ttu" style="font-size: 0.5rem;"><%- credit.title %></span><br>
    <a href="<%- credit.url %>" target="_blank"><%- credit.name %></a>
  </li>
  <% }) %>
</ul>

<div class="x xw p2 color-white oh" md="p1">
  <div class="c12 tac">
    <a href="http://redbullmusicacademy.com" target="_blank"><img src="assets/rbma-logo-white.png" style="width: 4rem"></a>
  </div>
</div>