@import 'styles/reset.css';
@import 'styles/gr8.css';
@import 'styles/webfonts.css';
@import 'styles/typography.css';

/**
 * Primary
 */

body {
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 1rem;
  line-height: 1.25;
}

.pixi {
  background: #000;
}

/**
 * Corner
 */
.corner-link {
  display: block;
  position: absolute;
  color: #00f;
  text-align: right;
  height: 6rem;
  width: 6rem;
  top: -1rem;
  left: -1rem;
  line-height: 5.15rem;
  text-align: center;
  transform: rotate(-45deg);
}

.corner-link:after {
  display: block;
  content: '→';
  position: absolute;
  font-family: monospace;
  top: -1rem;
  left: 50%;
  margin-left: -1rem;
  text-align: center;
  width: 2rem;
  transform: rotate(-135deg);
}

.corner-link:before {
  content: '';
  display: block;
  width: 0; 
  height: 0; 
  border-left: 3.25rem solid transparent;
  border-right: 3.25rem solid transparent;
  border-bottom: 3.25rem solid #fff;
  position: absolute;
  right: -0.25rem;
  z-index: -1;
}

/**
 * Thumb
 */

.thumb-container {
  perspective: 1000;
  height: 100%;
}

.thumb-container:hover .thumb, .thumb-container.hover .thumb {
  
}

.thumb {
  transition: transform 600ms ease;
  transform-style: preserve-3d;
  position: relative;
  padding-bottom: 100%;
}

.thumb-front, .thumb-back {
  outline: 1px solid #000;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.thumb-front {
  z-index: 2;
  transform: rotateY(0deg);
}

.thumb-back {
  transform: rotateY(180deg);
}

.corner {
  color: #fff;
  text-align: right;
  height: 2rem;
  width: 2rem;
  top: -0.4rem;
  right: -0.4rem;
  line-height: 2rem;
  text-align: center;
  transform: rotate(45deg);
}

.corner:before {
  content: '';
  display: block;
  width: 0; 
  height: 0; 
  border-left: 1.75rem solid transparent;
  border-right: 1.75rem solid transparent;
  border-bottom: 1.75rem solid #000;
  position: absolute;
  left: -0.625rem;
  z-index: -1;
}

.corner.invert { color: #000 }
.corner.invert:before { border-bottom: 1.5rem solid #fff }

.frame-thumb {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.thumb-frames {
  
}

.thumb-frames .thumb-frames-track { 
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 600%;
}

.thumb-frames .thumb-frames-animate {
  visibility: visible;
  animation: show_frame steps(6, end) infinite 0.3s; 
}

@keyframes show_frame {
  0% { transform: translate3d(0, 0, 0) }
  100% { transform: translate3d(-100%, 0, 0) }
}

/**
 * Lists
 */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li:not(:last-child) {
  margin-bottom: 1.25rem;
}

/**
 * Misc
 */

.arrow-external:after {
  content: '→';
  display: inline-block;
  font-family: monospace;
  transform: rotate(-45deg) translate(0.2rem, -0.2rem);
}

.pointer {
  cursor: pointer;
}

.bg-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

x[data-title] path:hover {
  fill : #00f;
}

[data-reveal] {
  opacity: 0;
}

/**
 * Colors
 */
.bg-white { background: #fff }
.bg-black { background: #000 }
.bg-red { background: #f30 }
.bg-blue { background: #00f }
.bg-grey { background: #333 }

.color-white { color: #fff }
.color-white a { color: #fff }

.color-grey { color: #666 }
.color-grey a { color: #666 }

.color-black { color: #000 }
.color-black a { color: #000 }
a.color-black {color: #000 }

.color-red { color: #f30 }
.color-red a { color: #f30 }

.color-blue { color: #00f }
.color-blue a { color: #00f }

.color-green { color: #0f6 }
.color-green a { color: #0f6 }

.color-purple { color: #60f }
.color-purple a { color: #60f }

.color-yellow { color: #fc0 }
.color-yellow a { color: #fc0 }

.color-orange { color: #f70 }
.color-orange a { color: #f70 }

.color-white-hover { transition: color 2s ease }
.color-white-hover:hover { color: #fff }

.color-blue-links a {
  color: #00f;
}

.color-blue-glow {
  text-shadow: 0 0 0.5rem #00f;
}

.blue-glow {
  box-shadow: 0 0 0.5rem #00f;
}

.svg-glow {
  filter: drop-shadow(0 0 0.5rem #00f);
  overflow: visible;
}

/**
 * Borders
 */
.btw1 {
  border-top: .1rem solid #fff;
}

/**
 * Type
 */
.tac { text-align: center }

/**
 * Dimensions
 */
.vh2 { height: 50vh }
.vh3 { height: 33.35vh }
.vh4 { height: 25vh }
.vw2 { width: 50vw }
.w100 { width: 100% }

/**
 * Title
 */
.site-title {
  position: relative;
}

.site-title svg {
  overflow: visible;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

[data-deconstruct] {
  transform-origin: 50% 50%;
}

/**
 * Radio Buttons
 */
input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  background: #fff;
  border: 0.1rem solid #000;
  font-size: 4rem;
  color: #000;
  cursor: pointer;
  display: block;
  position: relative;
  padding-bottom: 0.5rem;
  overflow: hidden;
  height: 100%;
  width: 100%;

  display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex;
  -webkit-box-flex: 1; -webkit-flex: 1 1 auto; -ms-flex: 1 1 auto; flex: 1 1 auto;
  -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center;
  -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center;
}

@media (min-width: 900px) {
  input[type="radio"]:not(:checked):not([disabled]) + label:hover {
    color: #00f;
  }
}

input[type="radio"]:checked + label {
  background: #00f;
  color: #fff;
}

input[type="radio"][disabled] + label {
  cursor: default;
}

input[type="radio"][disabled] + label:before {
  background: #f00;
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -0.15rem;
  width: 0.3rem;
  z-index: 2;
  transform: rotate(45deg);
}

/**
 * Custom Gr8
 */

.duration-options > div {
  height: 25%;
}

.usn {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 52em) {
  .md-db {
    display: block;
  }
}

/**
 * Progress Bar
 */

.progress-bar {
  background: #00f;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  outline: 1px solid #00f;
}

.splash-container {
  height: auto;
  overflow: visible;
}

@media (min-width: 900px) {
  [md~="h100vh"] {
    height: 100vh;
    overflow: hidden;
  }
}

/**
 * Playbar
 */

.playbar-container {
  height: 3rem;
  line-height: 2.6rem;
}

.playbar-overlay {
  background: url(/assets/bar-bg.svg) repeat;
  background-size: 0.7rem;
  /* animation: bgmove linear infinite 2s; */
}

.playbar-bg {
  height: 0.25rem;
}

@keyframes bgmove {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 0.7rem;
  }
}

.icon-refresh:hover svg {
  transition: 500ms ease;
  transform: rotate(180deg);
}

/**
 * Paths
 */
.path-hover-fill svg path {
  fill: rgba(0, 0, 0, 0);
}

.path-hover-fill svg path:hover {
  fill: #fff !important;
  stroke: rgba(0, 0, 0, 0) !important;
}

/**
 * Marquee
 */

.marquee {
  animation: marquee linear infinite 5s;
  display: flex;
  width: 200%;
  white-space: nowrap;
}

.marquee > div {
  text-align: center;
  width: 100%;
}

@keyframes marquee {
  from {
    transform: translateX(0) translateZ(0);
  }
  to {
    transform: translateX(-50%) translateZ(0);
  }
}

/**
 * Button Blink
 */

.button-blink:not(:hover) label {
  animation: buttonblink steps(1, end) infinite 500ms;
}

@keyframes buttonblink {
  0% {
    color: #000;
  }
  50% {
    color: #00f;
  }
}

/**
 * Blink
 */

.blink {
  animation: blink steps(1, end) infinite 500ms;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
}

/**
 * Now Streaming Title
 */
.now-streaming-title {
  position: relative;
}

.now-streaming-title > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.now-streaming-title > div:nth-child(1) {
  animation: now-streaming-title-one steps(1, end) infinite 10s;
}

@keyframes now-streaming-title-one {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
}

.now-streaming-title > div:nth-child(2) {
  animation: now-streaming-title-two steps(1, end) infinite 10s;
}

@keyframes now-streaming-title-two {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
}

/**
 * Video
 */
.video-frames .video-frames-track { 
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300%;
  z-index: 99;
}

.video-frames .video-frames-animate {
  visibility: visible;
  animation: video_frames steps(3, end) infinite 10s; 
}

@keyframes video_frames {
  0% { transform: translate3d(0, 0, 0) }
  100% { transform: translate3d(-100%, 0, 0) }
}

/**
 * RBMA HAX
 */
.cc_container {
  background: rgba(0, 0, 0, 0.9) !important;
  color: #fff !important;
  fill: #fff !important;
  font-family: 'Archivo Narrow', sans-serif !important;
  padding: 1.2rem !important;
  font-size: 0.5rem !important;
}

.cc_container p.cc_message {
  color: #fff !important;
}

.cc_message-wrapper {
  font-family: 'Archivo Narrow', sans-serif !important;
  padding: 0 5rem 0 0!important;
}

.cc_container a, .cc_container a:visited {
  color: #fff !important;
  font-family: 'Archivo Black', 'Arial Black', sans-serif !important;
}

.cc_container .cc_message-wrapper {
  position: static !important;
}

.cc_container .cc_btn, .cc_container .cc_btn:visited {
  fill: #fff !important;
  color: #fff !important;
  display: block !important;
  position: absolute;
  top: 0 !important;
  right: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  text-align: right;
  height: auto !important;
  width: auto !important;
  margin: 0 !important;
  float: none !important;
  max-width: 100% !important;
}

.cc_container .cc_btn svg {
  height: 2rem;
  width: 2rem;
  position: absolute;
  top: 0.6rem;
  right: 0.8rem;
  animation: blink steps(1, end) infinite 500ms;
}