<div class="color-white" style="background: red;">
  <% tracks.forEach(function (track) { %>
    <% var trackDate = track.date.split('-') %>
    <div class="x xjc xac" style="height: 100vh; width: 100vw;">
      <div style="height: 600px; width: 600px;">
        <div class="usn thumb-container" style="font-size: 2rem">
          <div class="bg-grey psr mb1 oh" style="padding-bottom: 100%; position: relative;">
            <div class="video-frames">
              <div class="x video-frames-track video-frames-animate">
                <div class="psr" style="height: 100%; width: 33.3%;">
                  <div class="psa p1 t0 l0 r0 b0 x xjc xac z3">
                    <div class="tac ttu type-black color-white color-blue-glow tac" style="font-size: 4rem">
                      <div class="blink"><%- trackDate[1] + '/' + trackDate[2] %></div>
                    </div>
                  </div>
                </div>
                <div class="psr" style="height: 100%; width: 33.3%;">
                  <div class="tac ttu type-black psa p1 t0 l0 r0 b0 x xjc xac z3 color-blue-glow">
                    <%- track.artist %>
                  </div>
                </div>
                <div class="psr" style="height: 100%; width: 33.3%;">
                  <div class="psa p1 t0 l0 r0 b0 x xjc xac z3">
<svg width="50%" height="50%" class="svg-glow" preserveAspectRatio="none" viewBox="0 0 385 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Artboard-1" fill="#FFF">
            <path d="M16.1100005,1.60500005 C17.810009,2.67500543 18.6800004,4.25998963 18.7200006,6.36000019 L18.7200006,6.7200002 L12.5100004,6.7200002 L12.5100004,6.60000019 C12.5100004,5.99999718 12.2900026,5.50000216 11.8500003,5.10000015 C11.4099981,4.69999814 10.7400048,4.50000013 9.84000029,4.50000013 C8.95999586,4.50000013 8.28500259,4.62999884 7.81500023,4.89000014 C7.34499787,5.15000145 7.11000021,5.46999826 7.11000021,5.85000017 C7.11000021,6.39000289 7.42999702,6.7899989 8.07000024,7.05000021 C8.71000346,7.31000152 9.73999319,7.57999882 11.1600003,7.86000023 C12.8200087,8.20000194 14.1849951,8.5549984 15.2550004,8.92500026 C16.3250058,9.29500212 17.2599965,9.89999609 18.0600005,10.7400003 C18.8600046,11.5800045 19.2700005,12.7199932 19.2900006,14.1600004 C19.2900006,16.6000127 18.4650088,18.4099946 16.8150005,19.5900006 C15.1649922,20.7700065 12.9600142,21.3600006 10.2000003,21.3600006 C6.97998411,21.3600006 4.47500908,20.820006 2.68500008,19.7400006 C0.894991076,18.6599951 0,16.7500142 0,14.0100004 L6.27000018,14.0100004 C6.27000018,15.0500056 6.53999749,15.7449987 7.08000021,16.0950005 C7.62000292,16.4450022 8.45999455,16.6200005 9.60000028,16.6200005 C10.4400045,16.6200005 11.1349976,16.5300014 11.6850003,16.3500005 C12.2350031,16.1699996 12.5100004,15.8000033 12.5100004,15.2400004 C12.5100004,14.7399979 12.2050034,14.3650017 11.5950003,14.1150004 C10.9849973,13.8649992 9.99000719,13.6000018 8.61000025,13.3200004 C6.9299918,12.9599986 5.54000566,12.5850023 4.44000013,12.1950004 C3.3399946,11.8049984 2.38000417,11.1600048 1.56000005,10.2600003 C0.739995922,9.35999578 0.33000001,8.14000794 0.33000001,6.60000019 C0.33000001,4.33998883 1.20499129,2.67500543 2.95500009,1.60500005 C4.70500889,0.534994666 6.9199868,0 9.60000028,0 C12.2400136,0 14.4099919,0.534994666 16.1100005,1.60500005 L16.1100005,1.60500005 Z M37.4100011,21.0000006 L37.4100011,13.1700004 L30.1200009,13.1700004 L30.1200009,21.0000006 L23.4900007,21.0000006 L23.4900007,0.360000011 L30.1200009,0.360000011 L30.1200009,7.89000023 L37.4100011,7.89000023 L37.4100011,0.360000011 L44.0400013,0.360000011 L44.0400013,21.0000006 L37.4100011,21.0000006 Z M63.2100018,21.0000006 L62.3400018,18.0900005 L55.1100016,18.0900005 L54.2400015,21.0000006 L47.4600014,21.0000006 L54.9900016,0.360000011 L62.7000018,0.360000011 L70.230002,21.0000006 L63.2100018,21.0000006 Z M56.4900016,13.4700004 L60.9600017,13.4700004 L58.8000017,6.12000018 L58.6800017,6.12000018 L56.4900016,13.4700004 Z M83.4300024,5.64000017 L83.4300024,21.0000006 L76.8000022,21.0000006 L76.8000022,5.64000017 L70.020002,5.64000017 L70.020002,0.360000011 L90.1800026,0.360000011 L90.1800026,5.64000017 L83.4300024,5.64000017 Z M105.990003,5.64000017 L105.990003,21.0000006 L99.3600028,21.0000006 L99.3600028,5.64000017 L92.5800026,5.64000017 L92.5800026,0.360000011 L112.740003,0.360000011 L112.740003,5.64000017 L105.990003,5.64000017 Z M116.670003,0.360000011 L134.520004,0.360000011 L134.520004,5.31000016 L123.300004,5.31000016 L123.300004,8.16000024 L132.900004,8.16000024 L132.900004,12.9000004 L123.300004,12.9000004 L123.300004,16.0500005 L134.730004,16.0500005 L134.730004,21.0000006 L116.670003,21.0000006 L116.670003,0.360000011 Z M157.800005,10.1100003 C157.120001,11.1300054 156.130011,11.8799979 154.830004,12.3600004 L159.420005,21.0000006 L151.980004,21.0000006 L148.320004,13.4700004 L145.860004,13.4700004 L145.860004,21.0000006 L139.230004,21.0000006 L139.230004,0.360000011 L151.860004,0.360000011 C153.340012,0.360000011 154.604999,0.644997169 155.655004,1.21500004 C156.70501,1.7850029 157.495002,2.55499523 158.025005,3.5250001 C158.555007,4.49500498 158.820005,5.54999446 158.820005,6.6900002 C158.820005,7.95000653 158.480008,9.08999517 157.800005,10.1100003 L157.800005,10.1100003 Z M151.530004,5.61000017 C151.170003,5.24999835 150.730007,5.07000015 150.210004,5.07000015 L145.860004,5.07000015 L145.860004,8.88000026 L150.210004,8.88000026 C150.730007,8.88000026 151.170003,8.69500211 151.530004,8.32500025 C151.890006,7.95499838 152.070004,7.50000292 152.070004,6.9600002 C152.070004,6.41999749 151.890006,5.97000198 151.530004,5.61000017 L151.530004,5.61000017 Z M163.470005,0.360000011 L181.320005,0.360000011 L181.320005,5.31000016 L170.100005,5.31000016 L170.100005,8.16000024 L179.700005,8.16000024 L179.700005,12.9000004 L170.100005,12.9000004 L170.100005,16.0500005 L181.530005,16.0500005 L181.530005,21.0000006 L163.470005,21.0000006 L163.470005,0.360000011 Z M205.800006,10.6800003 C205.800006,17.5600349 202.190042,21.0000006 194.970006,21.0000006 L186.030005,21.0000006 L186.030005,0.360000011 L194.970006,0.360000011 C202.190042,0.360000011 205.800006,3.79996571 205.800006,10.6800003 L205.800006,10.6800003 Z M192.660005,16.0500005 L194.850006,16.0500005 C197.63002,16.0500005 199.020006,14.5600153 199.020006,11.5800003 L199.020006,9.78000029 C199.020006,6.7999853 197.63002,5.31000016 194.850006,5.31000016 L192.660005,5.31000016 L192.660005,16.0500005 Z M236.340007,1.60500005 C238.040015,2.67500543 238.910007,4.25998963 238.950007,6.36000019 L238.950007,6.7200002 L232.740007,6.7200002 L232.740007,6.60000019 C232.740007,5.99999718 232.520009,5.50000216 232.080007,5.10000015 C231.640004,4.69999814 230.970011,4.50000013 230.070007,4.50000013 C229.190002,4.50000013 228.515009,4.62999884 228.045006,4.89000014 C227.575004,5.15000145 227.340006,5.46999826 227.340006,5.85000017 C227.340006,6.39000289 227.660003,6.7899989 228.300006,7.05000021 C228.94001,7.31000152 229.969999,7.57999882 231.390007,7.86000023 C233.050015,8.20000194 234.415001,8.5549984 235.485007,8.92500026 C236.555012,9.29500212 237.490003,9.89999609 238.290007,10.7400003 C239.090011,11.5800045 239.500007,12.7199932 239.520007,14.1600004 C239.520007,16.6000127 238.695015,18.4099946 237.045007,19.5900006 C235.394998,20.7700065 233.19002,21.3600006 230.430007,21.3600006 C227.20999,21.3600006 224.705015,20.820006 222.915006,19.7400006 C221.124997,18.6599951 220.230006,16.7500142 220.230006,14.0100004 L226.500006,14.0100004 C226.500006,15.0500056 226.770004,15.7449987 227.310006,16.0950005 C227.850009,16.4450022 228.690001,16.6200005 229.830007,16.6200005 C230.670011,16.6200005 231.365004,16.5300014 231.915007,16.3500005 C232.465009,16.1699996 232.740007,15.8000033 232.740007,15.2400004 C232.740007,14.7399979 232.43501,14.3650017 231.825007,14.1150004 C231.215004,13.8649992 230.220013,13.6000018 228.840007,13.3200004 C227.159998,12.9599986 225.770012,12.5850023 224.670006,12.1950004 C223.570001,11.8049984 222.61001,11.1600048 221.790006,10.2600003 C220.970002,9.35999578 220.560006,8.14000794 220.560006,6.60000019 C220.560006,4.33998883 221.434998,2.67500543 223.185006,1.60500005 C224.935015,0.534994666 227.149993,0 229.830007,0 C232.47002,0 234.639998,0.534994666 236.340007,1.60500005 L236.340007,1.60500005 Z M255.600007,5.64000017 L255.600007,21.0000006 L248.970007,21.0000006 L248.970007,5.64000017 L242.190007,5.64000017 L242.190007,0.360000011 L262.350007,0.360000011 L262.350007,5.64000017 L255.600007,5.64000017 Z M284.850008,10.1100003 C284.170005,11.1300054 283.180015,11.8799979 281.880008,12.3600004 L286.470008,21.0000006 L279.030008,21.0000006 L275.370008,13.4700004 L272.910008,13.4700004 L272.910008,21.0000006 L266.280008,21.0000006 L266.280008,0.360000011 L278.910008,0.360000011 C280.390015,0.360000011 281.655003,0.644997169 282.705008,1.21500004 C283.755013,1.7850029 284.545005,2.55499523 285.075008,3.5250001 C285.605011,4.49500498 285.870008,5.54999446 285.870008,6.6900002 C285.870008,7.95000653 285.530012,9.08999517 284.850008,10.1100003 L284.850008,10.1100003 Z M278.580008,5.61000017 C278.220006,5.24999835 277.78001,5.07000015 277.260008,5.07000015 L272.910008,5.07000015 L272.910008,8.88000026 L277.260008,8.88000026 C277.78001,8.88000026 278.220006,8.69500211 278.580008,8.32500025 C278.94001,7.95499838 279.120008,7.50000292 279.120008,6.9600002 C279.120008,6.41999749 278.94001,5.97000198 278.580008,5.61000017 L278.580008,5.61000017 Z M290.520008,0.360000011 L308.370009,0.360000011 L308.370009,5.31000016 L297.150008,5.31000016 L297.150008,8.16000024 L306.750009,8.16000024 L306.750009,12.9000004 L297.150008,12.9000004 L297.150008,16.0500005 L308.580009,16.0500005 L308.580009,21.0000006 L290.520008,21.0000006 L290.520008,0.360000011 Z M326.910009,21.0000006 L326.040009,18.0900005 L318.810009,18.0900005 L317.940009,21.0000006 L311.160009,21.0000006 L318.690009,0.360000011 L326.400009,0.360000011 L333.93001,21.0000006 L326.910009,21.0000006 Z M320.190009,13.4700004 L324.660009,13.4700004 L322.500009,6.12000018 L322.380009,6.12000018 L320.190009,13.4700004 Z M355.05001,21.0000006 L355.05001,13.5600004 C355.05001,12.6399958 355.08501,11.6950052 355.15501,10.7250003 C355.22501,9.75499544 355.30001,8.94000356 355.38001,8.28000024 C355.460011,7.61999692 355.51001,7.20000111 355.53001,7.02000021 L355.41001,7.02000021 L351.60001,21.0000006 L346.41001,21.0000006 L342.57001,7.05000021 L342.45001,7.05000021 C342.47001,7.23000111 342.525009,7.64499698 342.61501,8.29500024 C342.70501,8.94500351 342.790009,9.75499544 342.87001,10.7250003 C342.95001,11.6950052 342.99001,12.6399958 342.99001,13.5600004 L342.99001,21.0000006 L336.90001,21.0000006 L336.90001,0.360000011 L346.26001,0.360000011 L349.38001,12.2700004 L349.50001,12.2700004 L352.59001,0.360000011 L361.62001,0.360000011 L361.62001,21.0000006 L355.05001,21.0000006 Z M381.720011,1.60500005 C383.420019,2.67500543 384.290011,4.25998963 384.330011,6.36000019 L384.330011,6.7200002 L378.120011,6.7200002 L378.120011,6.60000019 C378.120011,5.99999718 377.900013,5.50000216 377.460011,5.10000015 C377.020009,4.69999814 376.350015,4.50000013 375.450011,4.50000013 C374.570006,4.50000013 373.895013,4.62999884 373.425011,4.89000014 C372.955008,5.15000145 372.720011,5.46999826 372.720011,5.85000017 C372.720011,6.39000289 373.040007,6.7899989 373.680011,7.05000021 C374.320014,7.31000152 375.350004,7.57999882 376.770011,7.86000023 C378.430019,8.20000194 379.795005,8.5549984 380.865011,8.92500026 C381.935016,9.29500212 382.870007,9.89999609 383.670011,10.7400003 C384.470015,11.5800045 384.880011,12.7199932 384.900011,14.1600004 C384.900011,16.6000127 384.075019,18.4099946 382.425011,19.5900006 C380.775003,20.7700065 378.570025,21.3600006 375.810011,21.3600006 C372.589994,21.3600006 370.085019,20.820006 368.29501,19.7400006 C366.505001,18.6599951 365.61001,16.7500142 365.61001,14.0100004 L371.880011,14.0100004 C371.880011,15.0500056 372.150008,15.7449987 372.690011,16.0950005 C373.230013,16.4450022 374.070005,16.6200005 375.210011,16.6200005 C376.050015,16.6200005 376.745008,16.5300014 377.295011,16.3500005 C377.845013,16.1699996 378.120011,15.8000033 378.120011,15.2400004 C378.120011,14.7399979 377.815014,14.3650017 377.205011,14.1150004 C376.595008,13.8649992 375.600018,13.6000018 374.220011,13.3200004 C372.540002,12.9599986 371.150016,12.5850023 370.050011,12.1950004 C368.950005,11.8049984 367.990015,11.1600048 367.17001,10.2600003 C366.350006,9.35999578 365.94001,8.14000794 365.94001,6.60000019 C365.94001,4.33998883 366.815002,2.67500543 368.56501,1.60500005 C370.315019,0.534994666 372.529997,0 375.210011,0 C377.850024,0 380.020002,0.534994666 381.720011,1.60500005 L381.720011,1.60500005 Z" id="SHATTERED-STREAMS"></path>
        </g>
    </g>
</svg>
                  </div>
                  <div class="x psa b0 l0 r0 xjc p1">
                    <img src="assets/rbma-logo-white.png" style="width: 100px">
                  </div>
                </div>
              </div>
            </div>
            <div class="bg-blue psa t0 l0 r0 b0 z1 thumb-artist" data-src="tracks/<%- track.path %>/artist.jpg" style="background-blend-mode: multiply; background-size: cover; background-position: center;"></div>
            <div class="psa t0 l0 r0 b0 z2 oh thumb-frames">
              <div class="thumb-frames-track x">
                <% for (var i = 0; i < 6; i++) { %>
                  <div class="c2 bg-cover data-thumb" data-src="tracks/<%- track.path + '/0' + (i+1) %>.png"></div>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% }) %>
</div>